

@font-face {
    font-family: Aileron-UltraLightItalic;  
    src: url("../../fonts/Aileron-UltraLightItalic.otf");  
}
@font-face {
    font-family: Aileron-UltraLight;  
    src: url("../../fonts/Aileron-UltraLight.otf");  
}
@font-face {
    font-family: Aileron-ThinItalic;
    src: url("../../fonts/Aileron-ThinItalic.otf");
}
@font-face {  
    font-family: Aileron-Thin;
    src: url("../../fonts/Aileron-Thin.otf");
}

@font-face {
    font-family: Aileron-SemiBoldItalic;  
    src: url("../../fonts/Aileron-SemiBoldItalic.otf");    
}
@font-face {
    font-family: Aileron-SemiBold;  
    src: url("../../fonts/Aileron-SemiBold.otf");  
}
@font-face {
    font-family: Aileron-Regular;  
    src: url("../../fonts/Aileron-Regular.otf");
}
@font-face {  
    font-family: Aileron-LightItalic;  
    src: url("../../fonts/Aileron-LightItalic.otf");
}
@font-face {  
    font-family: Aileron-Light;    
    src: url("../../fonts/Aileron-Light.otf");
}
@font-face {
    font-family: Aileron-Italic;    
    src: url("../../fonts/Aileron-Italic.otf");  
}
@font-face {
    font-family: Aileron-HeavyItalic;    
    src: url("../../fonts/Aileron-HeavyItalic.otf");
}
@font-face {  
    font-family: Aileron-Heavy;    
    src: url("../../fonts/Aileron-Heavy.otf");    
}
@font-face {  
    font-family: Aileron-BoldItalic;    
    src: url("../../fonts/Aileron-BoldItalic.otf");  
}  
@font-face {
    font-family: Aileron-Bold;      
    src: url("../../fonts/Aileron-Bold.otf");  
}
@font-face {
    font-family: Aileron-BlackItalic; 
    src: url("../../fonts/Aileron-BlackItalic.otf");
}
@font-face {  
    font-family: Aileron-Black;      
    src: url("../../fonts/Aileron-Black.otf");      
}  
.padd-normal {padding:0px 5px;}
/* The container-radio */  
[name="idCountry"] {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 0px #ccc;
}

[name="state"] {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 0px #ccc;
}

.email input {
    background-size: 3% 60% !important;
}
  
.container-radio {
    display: block;
    position: relative;
    padding-left: 27px;  
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    font-family: Aileron-regular;
}  

/* Hide the browser's default checkbox */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;  
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #00a0da;  
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #00a0da;
    border: 1px solid #00a0da;
    /*border-radius: 5px;*/
}  

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-radio .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;  
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);  
    transform: rotate(45deg);
}  
/*.regst-input input {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;  
    border-right: 1px solid #cccccc;
    height: 40px;  
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;  
    color: #565656;
    padding: 0px 40px !important;  
}*/     
/*.regst-input input:focus {  
    border-bottom: 1px solid #00a0da!important;
    border-top: 1px solid #00a0da!important;  
    border-left: 1px solid #00a0da!important;
    border-right: 1px solid #00a0da!important;  
    color: #00a0da!important;        
    outline: none;  
}  */
input[type="checkbox"] {
    width: auto;
} 
.mar-bot {
    margin-bottom: 10px;  
}
.regst-input h2 {
    font-size: 27px;      
    text-transform: uppercase;
    color: #565656;
    font-weight: bold;
    text-align: center;
    font-family: Aileron-Bold;
}
/*******registerpage**********/  
form.singn-up-width {
    max-width: 500px;
    margin: 0 auto;
}
.regst-img {
    background-image: url("../../images/signup_img.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;  
    flex-wrap: wrap;  
    padding:0px 30px;
}
.regst-img h6 {  
    font-size: 35px;  
    font-weight: 600;    
    color: #fff;
    font-family: Aileron-Heavy;
}
.regst-img h1 {  
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    font-family: Aileron-Heavy;
    margin-top:-20px;
}    
.regst-img p {  
    font-size: 13px;  
    font-weight: 400;
    color: #fff;
    font-family: Aileron-Regular;
    line-height: 24px;  
}
/*.regst-img h5 {  
    font-size: 21px;  
    color: #fff;
    text-transform: uppercase; 
    font-weight: 600;
    font-family: Aileron-Bold;  
    margin-top:15px;
}*/

/*******regst-input**********/  
.regst-input {
    padding: 70px 60px 0px 60px;  
}  
.regst-input h2:after {
    border-bottom: 1px solid #ccc;
    content: "";
    display: block;
    width: 92%;
    margin: 5px auto 20px auto;
}
.regst-input p {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    font-family: Aileron-Regular;
    margin-bottom: 0px;  
}  
.regst-input h6 {  
    color: #00a0da;
    font-size: 16px;
    font-family: Aileron-bold;
    margin-bottom: 0px;  
}  
.graydent-color {
    background-image: -webkit-linear-gradient(bottom left, #04a5dc, #8471f4);
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    border: none;
    padding: 7px 18px;
    border-radius: 6px;
    font-size: 18px;
    font-family: Aileron-bold;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: auto;
    cursor: pointer;
}  
.graydent-color:hover {
    text-decoration: none; 
    color:#fff; 
}
.graydent-color:focus {
    text-decoration: none; 
    color:#fff; 
}
.graydent-color:active {
    text-decoration: none; 
    color:#fff; 
}

.account-sign-up {  
    font-family: Aileron-Regular;
    font-size: 17px;
    display: block;
    text-align: center;
    margin-top: 10px;  
    color: #202020;
    text-decoration: none;
}
.account-sign-up:hover {
    color: #00a0da;    
    text-decoration: none;  
}
img.vip-logo {
    position: absolute;
    top:20px;  
    bottom: 20px;
}
input.first-one {  
    background-image: url("../../images/profile.svg");
    background-repeat: no-repeat;  
    background-size: 8% 100%;
    background-position: 12px;
    padding: 0px 40px;  
}  
input.email-one {
    background-image: url(../../images/envelope.svg);
    background-repeat: no-repeat;  
    background-size: 7% 50%;
    background-position: 11px;  
    padding: 0px 40px ;   
}
input.phone-one {  
    background-image: url(../../images/phone-call.svg);  
    background-repeat: no-repeat;
    background-size: 3% 50%;
    background-position: 11px;     
    padding: 0px 40px;  
}
input.pass-one {
    background-image: url(../../images/padlock.svg);
    background-repeat: no-repeat;
    background-size: 6% 100%;
    background-position: 10px;
    padding: 0px 40px;
}  

@media only screen and (max-width: 768px) {
.regst-img {
    max-width: 100%;
    flex: 100%;
}
img.vip-logo {
    position: relative;
    margin: 20px 0px;
}  
/*.regst-input {
    flex: 100%;
    max-width: 100%;
    padding: 40px;  
}*/

}

@media only screen and (max-width: 570px) {    
.padd-normal {  
    margin-bottom: 10px;
}
.mar-bot {
    margin-bottom: 0px;  
}
input.first-one {
    background-image: url(../../images/profile.svg);
    background-repeat: no-repeat;
    background-size: 5% 60%;
    background-position: 5px;
    padding: 0px 40px;
}
input.pass-one {  
    background-image: url(../../images/padlock.svg);
    background-repeat: no-repeat;
    background-size: 5% 60%;
    background-position: 5px;
    padding: 0px 40px;
}
.regst-input h2 {font-size: 16px;}  
.graydent-color {  
    padding: 7px;
    width: 100%;
}
  }

input.pass-two {    
    background-image: url(../../images/padlock.svg);
    background-repeat: no-repeat;
    background-size: 7% 60%;
    background-position: 10px;
    padding: 0px 40px;  
}
.regst-img.cus-height {
    height: 100vh;
}  
form.login-div {
    max-width: 300px;
    margin: 0 auto;
}
a.for-pass {
    font-size: 13px;
    font-weight: 400;
    font-family: Aileron-Regular;
    float: right;
    margin-top: -34px;
    color: #00a0da;
}  
@media only screen and (max-width: 1024px) { 
.regst-img h1 {  
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    font-family: Aileron-Heavy;
    margin-top: -20px;
}
}
@media only screen and (max-width: 768px) { 
.regst-img.cus-height {
    height: auto;  
}
}

