.storeset{
 margin:15px 0;
 padding:20px;
 float: left;
 width: 100%;
 background-color: #f1ebd1;
 border:2px solid #cbcbcb;
 border-radius: 5px;  
 box-shadow: 0 1px 69px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 1px 9px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 1px 9px 0 rgba(0,0,0,.12);  
}
.storeset p{
 margin: 0;
 padding:0; 
 font-size: 16px;
 color: #666; 
 font-family:"Aileron-Regular"; 
}
.storeset p span{
 color: #0099cc; 
 font-family:"Aileron-Bold"; 
}
.Brandedcus{
 margin:5px 0;
 padding:0;
 float: left;
 width: 100%;    
}
.Brandedcus p{
margin:0 0;
 padding:0; 
 font-size: 16px;
 color: #666; 
 font-family:"Aileron-Regular"; 
 line-height: 30px;    
}
.stioreac{
 margin: 20px 0;
 padding:0;
 float: left;
 width: 100%;    
}
.stioreac h1{
 font-size: 16px;
 color: #1e1e1e; 
 font-family:"Aileron-Bold";  
 margin: 0;
 padding: 0;    
}
.customcolorbox{
  margin: 0;
  padding:10px 0;
  float: left;
  width: 100%;   
}
.colorbox1{
   margin:0;
  padding: 0;
  float: left;
  width: 49%;
  background-color: #f6f8fa;
  border:1px solid #999999;   
}
.colorbox2{
   margin:0;
  padding: 0;
  float: right;
  width: 49%;
  background-color: #f6f8fa;
  border:1px solid #999999;   
}
.storelogo{
 margin: 0;
 padding:8px 20px;
 background-color: #dfedfa; 
 float: left;
width: 100%; 
border-bottom: 1px solid #aeb0b2; 
}
.showstore {
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
    font-family: "Aileron-Bold";
}
.storelogo .checkmark{
  top:9px; 
  height: 20px;
    width: 20px;  
}
.storelogo .customcheck .checkmark:after {
    left: 6px;
    top: 1px;
}
.storelogo .customcheck {
    margin: 0;
}
.storelogo p {
    margin: 0 0 0 39px;
    padding: 0;
    font-size: 15px;
    color: #666;
    font-family: "Aileron-Regular";
    position: relative;
    top: -5px;
}
.morecheck{
  margin: 0;
  padding:15px;
  float: left;
  width: 100%;   
}
.showitem{
 margin: 0;
 padding: 0;
 float: left;
 width: 50%;    
}
.showimg{
 margin: 0;
 padding: 0;
 float: left;
 width: 50%;    
}
.morecheck .customcheck {
    margin: 0 0 10px;
}
.morecheck .showstore{
   font-family: "Aileron-Regular";  
}
.morecheck .checkmark {
    top: 6px;
     height: 20px;
    width: 20px;
}
.morecheck .customcheck .checkmark:after {
    left: 5px;
    top: 3px;
}
.showinline{
 margin: 0;
 padding: 0;
 float: left;
 width: 100%;    
}
.webshow{
 margin: 0;
 padding:15px;
 float: left;
 width: 100%;    
}
.website{
 float: left;
 width: 40%;
 margin: 0;
 padding: 0;    
}
.website .customcheck .checkmark:after{
left: 6px;
    top: 3px;
}
.config{
float: left;
 width: 60%;
 margin: 0;
 padding: 0;   
}
.webshow .customcheck {
    margin: 0;
}
.webshow .checkmark {
    top: 7px;
    left: 0;
    height: 20px;
    width: 20px;
}
.webshow .showstore {
    font-family: "Aileron-Regular";
}
.config p{
 margin: 0;
 padding:0;
 font-size: 16px;
 font-family: "Aileron-Regular";
 color: #747474;
 margin-top: 5px;
}
.showinline .form-inline label {
    font-size: 15px;
    color: #666;
    margin: 0;
    padding: 0;
    padding-right: 15px;
    font-family: "Aileron-Regular";
}
.showinline .form-control {
    border-radius: 5px;
    background: transparent;
    width: 115px;
    border-color: #666;
    float: right;
}
.showinline .form-inline {
    float: right;
}
.config .form-control {
    width: 190px;
}
.showinline.urlmain {
    margin: 20px 0;
}
.weburlshow{
margin: 0;
padding: 0;
float: left;
width: 100%;
margin-bottom: 5px;     
}
.returnpolicy {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.returnpolicy .storelogo {
    background: none;
    border: 0;
    padding: 0;
}
.privebtn {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    text-align: right;
    float: left;
}
.btn.btn-primary.changes{
    background: #3c8ee7;
    border: 0;
   font-size: 16px;
    font-family: Aileron-Bold;
    height: 44px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 160px;
}
.btn.btn-secondary.preview {
    background: #d8d8d8;
     border: 0;
   font-size: 16px;
    font-family: Aileron-Bold;
    height: 44px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 160px;
    color: #2b2b2b;
        margin-right: 5px;
}
.orderprocess{
 margin:25px 0;
 padding:50px;
 float: left;
 width: 100%;
 background-color: #fff;    
}
.labsec{
margin: 0;
padding: 0;
float: left;
width: 30%;     
}
.writetext{
margin: 0;
padding: 0;
float: left;
width: 70%;     
}
.idauto{
 margin:5px 0;
 padding: 0;
 float: left;
 width: 100%;    
}
.labsec p {
    color: #333;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
    font-family:"Aileron-Bold";
}
.form-control.custom {
    background: #f4f4f4;
    border-radius: 5px;
    border-color: #ededed;
    height: 45px;
    color: #666666;
    font-family: "Aileron-Regular";
}
span.input-group-append {
    display: none;
}
.customclander{
  margin:0;
  padding: 0;
  position: relative;   
}
.customclander span{
         position: absolute;
    top: 12px;
    z-index: 999;
    right: 15px;
}
.writetext .switch {
    margin-top: 5px;
}
.asigndrop .form-control.template {
    background-color: #f4f4f4;
    border-color: #ededed;
    font-size: 14px;
    color: #333;
}
.writetext.center label {
    margin: 0 20px 0 0;
}
.writetext.center span {
       margin: 12px 0;
    display: inline-block;
    padding: 0;
}
.shop{
        color: #1ba3d1;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: "Aileron-Bold";
    margin-top: 4px;
    display: inline-block;  
}
.btn.btn-secondary.Cancel{
      background: #e7e7e7;
    color: #333;
    width: 100px;
    font-size: 18px;
    border-color: #a0adbb;
    font-family: 'aileronsemibold';
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 42px;   
}
.btn.btn-primary.submit{
    background: #3c8ee7;
    border: 0;
    font-size: 18px;
    font-family: Aileron-Bold;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
     margin-left: 10px;
    width: 100px;
    height: 42px;
}
.btnright{
  float: right;   
}
.namehigh{
  color: #099aca !important;   
}
.sitelink {
    color: #ff6666 !important;
    cursor: pointer;
}
.btn.btn-primary.yes {
    background: #33cc66;
    border: 0;
    font-size: 13px;
    height: 25px;
    line-height: 10px;
    border-radius: 2px;
}
.btn.btn-primary.yes.no {
    background: #ff9933;
}













.storelogo .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 0px;
}

.storelogo .checkmark{
  top:9px; 
  height: 20px;
    width: 20px;  
}
.storelogo .customcheck .checkmark:after {
    left: 6px;
    top: 1px;
}
.storelogo .customcheck {
    margin: 0;
}
.storelg .checkmark {
    border: 2px solid #ccc;
    border-radius: 0px;
}