.order-view2 {
    background-color: #fff;
    margin: 30px;
    /*border-radius: 35px 0px 0px 35px;*/
    box-shadow: 0px 0px 20px #ccc;
    /*border-left: 6px solid #2db4e3;*/
    padding: 0px 0px;
    

}
.order-view-head {
    background: #2db4e3;
    /*border-radius: 30px 0px 0px 0px;*/
}
.order-view-head h2 {
    font-size: 18px;
    padding: 20px;
    font-family: Aileron-Bold;
    color:#fff;
}


.order-view2-body {
    padding: 40px;
    position: relative;
    overflow: hidden;
}
.profileimg2 {
    border-radius: 50%;
    float: right;
    border: 3px solid #ccc;
    padding: 5px;
    height: 130px;
    width: 130px;
}
.order-view2-body h3 {
    color: #2db4e3;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}
.geebermail {
    color: #ffcc33;
    font-size: 15px;
    font-weight: 600;
}
.geebermail:hover {
    color: #ffcc33;
}
.increment {
    font-size: 15px;
    font-family: Aileron-Bold;
    color: #333;
    margin-right: 10px;
}
.storul-head {
    color: #2db4e3;
    font-size: 18px;
    font-weight: 600;
}
ul.store-ul li label {
    font-size: 16px;
    color:#666;
}
ul.store-ul li {
    /*width: 50%;
    display: inline-block;*/
    margin-bottom: 15px;
}
.assign-btn {
    background-color: #ffcc33;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 3px;
    font-family: Aileron-Bold;
}
.assign-btn:hover {
    color: #fff;
}
.assign-btn:active {
    color: #fff;
}
.plusplus {
    padding: 3px;
    background-color: #ccc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
}
.position-text {
    position: absolute;
    right: 10px;
    top: 0;
}
.position-text p {
    margin: 0px;
    font-size: 14px;
}
.onetwo {
    background-color: #ffcc33;
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 3px;
    font-family: Aileron-Bold;
    margin-top: 10px;
    position: absolute;
    z-index: 999;
}
.profile-num:hover {
    color: #868e96;
} 
.btn.btn-primary.synbtn {
    color:#fff;
}