h6.prdt-mainhd {
    color: #0099cc;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;    
}
span.prdt-headtext {
    font-size: 13px;
    font-weight: 600;
    color: #000;  
    padding-right: 6px;  
}
p.prdt-location {
    font-size: 13px;
    color: #666666;
    margin-bottom: 0px;
    line-height: 14px;
    display: flex;
    flex-wrap: wrap;  
}  
span.prdt-nortext {  
    font-size: 13px;
    color: #666666;
    font-weight: 300;
}  
.house-img {  
    background-image: url("../../images/house-1.png");
    background-size: 100% 100%;
    background-position: center;
    padding: 0px 10px!important;
}
.house-img-two {  
    background-image: url("../../images/house-2.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}  
.house-img-ballet {      
    background-image: url("../../images/house-3.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;  
}  
.house-img-athletic {        
    background-image: url("../../images/house-4.png");  
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;  
}  
.house-img-chuck {          
    background-image: url("../../images/house-5.png");  
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-sneakers {            
    background-image: url("../../images/house-6.png");  
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-basketball {              
    background-image: url("../../images/house-7.png");    
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-knee {                 
    background-image: url("../../images/house-8.png");    
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-combat {                   
    background-image: url("../../images/house-11.png");    
    background-size: 100% 100%;  
    background-position: center;  
    background-repeat: no-repeat;    
}  
.house-img-solly {                       
    background-image: url("../../images/house-10.png");      
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
} 
.house-img-timberland {                         
    background-image: url("../../images/house-11.png");        
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-court {                           
    background-image: url("../../images/house-12.png");        
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-mary {                             
    background-image: url("../../images/house-13.png");          
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-platform {                               
    background-image: url("../../images/house-14.png");          
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
} 
.house-img-almond-toe {                                 
    background-image: url("../../images/house-1.png");            
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;      
} 
        
.prdt-back-gd {    
    padding: 10px 10px;  
    background-color: #fff;   
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc; 
    margin:0 -10px; 
}  
.single-prdt-sec {
    padding: 0px 30px;
    margin-bottom: 15px;
}  
.storemiddle-sec h1 {      
    font-size: 20px;  
     font-family: Aileron-Bold; 
    text-transform: uppercase;
    font-weight: 600;
}
.products-ellipsis {  
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 0;
    color: #000;
    font-size: 20px;
}
/*footer.add_list_footer {
    padding: 20px 30px 0px;
}  */
footer.add_list_footer .Binary_design-p {
    text-align: right;
}
footer.add_list_footer p {
    font-size: 14px;
} 
footer.add_list_footer .Binary_design-p a {
    color:#0099cc;
    text-decoration: none; 
}  
footer.add_list_footer .Binary_design-p a:hover {  
    color:#0099cc;
    text-decoration: none; 
} 
.products-list-sec {
    margin-bottom: 30px;
    margin-top: 20px;
} 
p.prdt-location span {   
	width: calc(100% - 10px);
    display: inline-block;
    padding-left: 5px;
}
/**********prodect-model**********/
.add-prdt-header {
    background-color: #04a5dc;
}
.add-prdt-header p {  
    margin-bottom: 0px;  
    text-align: left;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    color:#fff;
}
button.close-sign {
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}  
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
    /* border: 2px solid gray; */
    color: #04a5dc;  
    background-color: transparent;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}  
  
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.prdt-upload-img {
    max-width: 80px;  
    width: 80px;
    box-shadow: 0px 0px 20px #ccc;
    border: 1px solid #ccc;
    max-height: 80px;
    margin-bottom: 10px;
}    
.add-prdt-middle {
    padding: 20px 0px;
}
.add-prdt-middle ul {
    padding: 0px;
    margin: 0 auto;
    max-width: 400px;
}    
.add-prdt-middle ul li {
	list-style: none; 
	padding: 2px 0px;     
}
.add-prdt-middle ul li p {  
	font-size: 15px;  
	font-weight: bold; 
    color:#333333; 
}
.add-prdt-middle input[type="text"] {
    background-color: #f4f4f4;  
    border: none;
    width: 100%;
    color: #828282;
    font-size: 13px;  
    height:30px;    
    padding:0px 10px;  
}  
.house-phonenum {  
    font-size: 13px;
    color: #666666;
    margin-bottom: 0px;
}    