.package-back {
    background-color: #eef2f6;
}  
.package-head h1 {  
    font-size: 16px;  
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
}
.package-head {    
	padding: 20px 20px 0px 20px;
}  
.packages-slectbox {  
    color: #04a5dc;  
    background-color: transparent;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}
.package-table {
    padding: 20px 20px 20px 20px;
}  
/*.package-table-head {
    background-color: #e4e4e4!important;
    font-size: 14px;
    font-weight: 600;
    padding: 0px!important;
}  */
.package-table-head {
    background-color: #08a3dd;
    font-size: 14px;
    font-weight: 600;
    padding: 0px;
    margin: 0px 0px;
}  
.package-table-body {
    background-color: #fff;
    padding: 0px;
    margin: 0px 0px;
    border-bottom: 1px solid #e4e4e4;
}  
.package-list-body {
    font-size: 14px;
    color: #666666;
}
.package-table-sidebar {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
}    
.package-table-sidebar p {
    font-size: 13px;
    font-weight: 500;  
    color: #666666;
}  
.package-middle-footer {margin:30px 0px;}
.package-middle-footer h4 {
    font-size: 17px;
    font-weight: 600;  
}
.package-middle-footer p {  
    font-size: 15px;
    font-weight: 400;  
    color:#666666;
}
/*.Connect-btn {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Aileron-bold;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}  */
.add_list_footer {
    padding: 15px 30px;
}  
.add_list_footer a {
    font-size: 14px;
    color: #2db4e3;
    text-decoration: none;
}  
.add_list_footer a:hover {  
    font-size: 14px;
    color: #2db4e3;
    text-decoration: none;
}  
.Binary_design {
    text-align: right;
    display: block;
}    
.Connect-btn:hover {color:#fff;text-decoration: none;}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .1em; left: .1em;  
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

/*********numer-filed-quantity*************/    

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.package-inputfild .row {margin-bottom: 10px;}
.quantity input {
    width: 76px;
    height: 32px;    
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    border: 1px solid #eee;
    background-color: #ebeaea;
    border-radius: 5px;
}  

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 32px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #ffffff;
    background-color: #0099cc;
    color: #fff;
    border-radius: 0px 2px 0px 0px;
    /*padding: 4px 0px;*/
}  

.quantity-button.quantity-down {
  	position: absolute;
  	bottom: 0px;  
  	height: 50%;  
  	background-color: #0099cc;  
    color: #fff;
    border-radius: 0px 0px 2px 0px;     
    /*padding: 4px 0px; */    
}
p.pos-inch {
    position: absolute;
    top: 4px;
    right: -32px;
}  
/**********package-model*************/  
.package-content {      
	background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
}
.package-list-head { 
    color:#ffffff;  
}
.package-list-head p {  
    margin-bottom: 0px;
    text-align: left;  
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;  
    text-transform: uppercase;
}  
  
.packagelist-middle {    
    padding: 30px;  
}
  
.packagelist-middle p {  
    font-size: 13px;  
    font-weight: bold;
    color:#666666;  
}  
.packagelist-middle input[type="text"] {  
    background-color: #ffffff;
    border: 1px solid #ccc;  
    height: 35px;  
    border-radius: 2px;  
    width: 100%;
    color: #828282;
    font-size: 13px;  
    padding: 0px 10px;
    box-shadow: 0px 0px 10px #ccc;    
}  
   
     

a:hover {
	text-decoration: none;
	color:#fff;
}
.orderlist-middlefooter .middlefooter-padd label {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}  
.orderlist-middle .oredr-border:before {    
    content: "";
    border-right: 1px solid #eee;  
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.package-inputfild {
    width: 400px;
    margin: 0 auto;  
}      
.package-checkmar {
    margin: 0px;
}

/*********************28-DEC-2018-Evening********************************/
.pack-head-ing .checkmark {
    border: 2px solid #ccc;
    border-radius: 0px;
}
.pack-head-ing .customcheck .checkmark:after {
    left: 4px!important;
    top: 0px!important;
}