.profile-left {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
    border-radius: 5px;
}
.profile-right {
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
    padding: 30px; 
    border-radius: 5px;
}
.profile-img {
	border-radius: 50%;
    width: 150px;
    height: 150px;

}
.profile-left h4 {
    font-size: 20px;
    margin: 10px 0px;
    color: #808080;
    font-family:"Aileron-Regular";
}
.profile-left h5 {
    font-size: 16px;
    margin-bottom: 0px;
    color: #444444;
    font-family:"Aileron-Regular";
}
.profile-left p {
    font-size: 13px;
    color: #666666;
    font-family:"Aileron-Regular";
    margin-bottom: 0px;
}

.profile-ul li {
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
}
.profileinput {
    height: 40px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 0px 10px;
}
.profile-heading h1 {
    font-size: 20px;
    font-family: Aileron-Bold;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 10px;
}
.profilebtn {
    text-align: center;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    font-size: 16px;
    margin-bottom: 0px;
    font-family: "Aileron-Regular";
}
.profile-right h5 {
    font-size: 16px;
    color: #444444;
    font-family: "Aileron-Regular";
}