/***************************Gourav**************************************/
/* The container */ 
.container-visa {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;  
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    font-weight: 600;
    color: #666666;
    width:auto !important;
}  

/* Hide the browser's default radio button */
.container-visa input {
    position: absolute;
    opacity: 0;    
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-visa {
    position: absolute;
    top: 0;
    left: 0;  
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-visa:hover input ~ .checkmark-visa {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-visa input:checked ~ .checkmark-visa {
    background-color: #00a0da;  
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-visa:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-visa input:checked ~ .checkmark-visa:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-visa .checkmark-visa:after {  
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.visa-back {
    background-color: #eef2f6;
}
.visa-account {
    padding: 20px 50px;
    text-align: center;  
}  
input.visa-fild1.animated.fadeInDown {
    padding: 0px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;  
    border-right: 1px solid #cccccc;
    height: 35px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;
    color: #565656;
    background-color: #fff;
    display: block;
    margin: 10px auto;
}
input.visa-fild.animated.fadeInDown {
    padding: 0px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 40px;
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;
    color: #565656;  
    background-color: #fff;
}  
.visa-account-second {  
    padding: 0px 50px 20px 50px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.visa-account-form {
    padding: 20px 50px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}  
.visa-account-second h1 {
    font-size: 26px;
    text-transform: uppercase;
    color: #565656;
    font-weight: bold;
    text-align: center;
}  
.Varified-credit {
    background-color: #04a5dc;  
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}  
.Varified-credit:hover {  
    background-color: #04a5dc;  
    color: #fff; 
    text-decoration: none; 
}
.visa-account-form h2 {
    font-size: 26px;
    text-transform: uppercase;
    color: #565656;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
}  

.paypalpag {
    padding: 0px 50px 20px 50px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.paypalpag img {
    margin-bottom: 20px;
}
.showfunddiv{
    display:block;
 }
 .hidefunddiv{
    display:none;
 }

 /***************************31-DEC-2018-Gourav**************************************/
 .visacrlform {
    border: 3px solid #ccc;
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 10px;
}

.visa-drop {
    padding: 0px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 35px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;
    color: #565656;
    background-color: #fff;
    display: block;
    width:100%;
    margin: 10px auto;
}

.visacrlform  h1{
    font-size: 26px;
    text-transform: uppercase;
    color: #565656;
    font-weight: bold;
    text-align: center;
}
.manage_link {
    color: #04a5dc;
    font-weight: bold;
}
.manage_link:hover {
    color: #04a5dc;
}