  
.order-samebtn {
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .25rem;
    display: inline-block;
    padding: 6px 10px;
    color: #666666;
    font-size: 13px;
    font-weight: 500;
    margin:0px 2px;
}
.order-samebtn:hover {  
    color: #666666;
    text-decoration: none;     
}
.example {display: inline-block;margin-right: 2px;}  
.example input[type=text] {
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    float: left;
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    width: 135px;
}  

.example button {
    /*float: left;*/
    /* width: 20%; */  
    padding: 10px;
    background: #0099cc;
    color: white;
    font-size: 10px;
    border: 1px solid #0099cc;
    border-left: none;
    cursor: pointer;
    height: 30px;
    border-radius: 0px 5px 5px 0px;
}  


.example button:hover {
    background: #0b7dda;
}

.example::after {  
    content: "";
    clear: both;
    display: table;
}       
select.order-slectbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    color: #07a8de;
    font-size: 14px;  
    background-image: url(../../images/myStores/angle-arrow-down.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 100%;
    width: 100%;  
}  
select.list-slectbox {
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .25rem;
    display: inline-block;
    padding: 6px 8px;
    color: #666666;
    font-size: 13px;
    font-weight: 500;
    margin:0px 2px;
}  
/*.store-listing-table .col-sm-1 {
    padding: 0px;
}  
.store-listing-table .col-sm-2 {
    padding: 0px;
}*/
.store-listing-table .storlistbody {
    padding: 10px;
    background-color: #ffffff;
}

.listtxt-1 {
    font-size: 12px;
    word-break: break-all;
    line-height: 15px;
}  
.listext-1 {  
    font-size: 12px;
    color: #666666;
    word-break: break-all;
}

.store-listing-table .storlisthead {
    background-color: #08a3dd !important;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0px !important;
    color:#ffffff;
}
.store-listing-table {
    padding: 0px 30px 30px 30px;
    background-color: #eef2f6;
}   
select.list-slectboxs {  
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .25rem;
    display: inline-block;
    padding: 6px 8px;
    color: #666666;
    font-size: 13px;
    font-weight: 500;
    width: 100%;  
}
.list-date {
    color: #07a8de;  
    font-size: 14px;
}
.list-date input.first-date {       
    width: 70%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .25rem;
    display: inline-block;
    color: #666666;
    font-size: 13px;  
    font-weight: 500;
    height:30px;
    background-image: url(../../images/myStores/calendar.png);
    background-repeat: no-repeat;
    background-position: 90%;  
    background-size: 11%;
    text-transform: uppercase;
}
.list-date input.second-date {           
    width: 80%;  
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .25rem;
    display: inline-block;
    color: #666666;
    font-size: 13px;  
    font-weight: 500;
    height:30px;
    background-image: url(../../images/myStores/calendar.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 10%; 
    text-transform: uppercase;     
}
.add-list-slet .paadd {  
    padding: 0px!important;
}

.add-text-sort{
color: #07a8de;
    font-size: 14px;
}  
.paggination-text {
    margin-top: 20px;
    text-align: right!important;
}    
.paggination-text .pagination {  
    justify-content: flex-end;
} 

/**************************1-JAN-2018-Bhatwan**********************************/

.order-srh {
    margin-top: 7px;
}
.printlist:hover {
    color: #fff !important;
    cursor: pointer;
}



/**************************Single-store-order-detail-page-css**********************************/


