
@font-face { 
    font-family: Aileron-UltraLightItalic;  
    src: url("../../fonts/Aileron-UltraLightItalic.otf");  
}
@font-face {
    font-family: Aileron-UltraLight;  
    src: url("../../fonts/Aileron-UltraLight.otf");  
}
@font-face {
    font-family: Aileron-ThinItalic;
    src: url("../../fonts/Aileron-ThinItalic.otf");
}
@font-face {  
    font-family: Aileron-Thin;
    src: url("../../fonts/Aileron-Thin.otf");  
}

@font-face {
    font-family: Aileron-SemiBoldItalic;  
    src: url("../../fonts/Aileron-SemiBoldItalic.otf");    
}
@font-face {
    font-family: Aileron-SemiBold;  
    src: url("../../fonts/Aileron-SemiBold.otf");  
}
@font-face {
    font-family: Aileron-Regular;  
    src: url("../../fonts/Aileron-Regular.otf");
}
@font-face {  
    font-family: Aileron-LightItalic;  
    src: url("../../fonts/Aileron-LightItalic.otf");
}
@font-face {  
    font-family: Aileron-Light;    
    src: url("../../fonts/Aileron-Light.otf");
}
@font-face {
    font-family: Aileron-Italic;    
    src: url("../../fonts/Aileron-Italic.otf");  
}
@font-face {
    font-family: Aileron-HeavyItalic;    
    src: url("../../fonts/Aileron-HeavyItalic.otf");
}
@font-face {  
    font-family: Aileron-Heavy;      
    src: url("../../fonts/Aileron-Heavy.otf");    
}
@font-face {  
    font-family: Aileron-BoldItalic;    
    src: url("../../fonts/Aileron-BoldItalic.otf");  
}  
@font-face {      
    font-family: Aileron-Bold;      
    src: url("../../fonts/Aileron-Bold.otf");      
}  
@font-face {
    font-family: Aileron-BlackItalic; 
    src: url("../../fonts/Aileron-BlackItalic.otf");
}
@font-face {  
    font-family: Aileron-Black;      
    src: url("../../fonts/Aileron-Black.otf");      
}  
.pad-zero-main {padding:0px;}
.addstore-head-text h1 {  
    font-size: 16px;
    /*font-family: Aileron-Bold;*/  
    text-transform: uppercase;
    font-weight: 600;  
}
/*.add-store-imgsec .col-sm-2 {  
    padding: 0px 5px;
}*/
.add-store-imgsec img {
    background-color: #fff;
    box-shadow: 0px 0px 10px #93a6ba2e;
    padding: 20px;
    border-radius: 2px;
    height:70px;
}  
.add-store-imgsec {
    margin-bottom: 10px;
}  
p.head-distext {
    font-size: 11px;
    color: #666666;
    font-weight: bold;  
}    
.serch-form label {
    color: #2db4e3;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    display: block;
}  
hr.custom-hr {
    margin-bottom: 30px;
    margin-top:0px;
}  

.storelast-text p {
    text-align: center;
    font-size: 16px;  
    /*font-family: Aileron-Regular;*/
    margin-top: 30px;    
}  
footer.footer p {
    background-color: #fff;
    padding: 10px;
    text-align: center; 
    margin-bottom: 0px;  
    font-size: 16px;  
}  
.serch-form input[type="text"] {
    border: 1px solid #ccc;  
    border-radius: 5px;  
    height: 26px;  
    font-size: 13px;  
    color:#666666;
    background-image: url(../../images/myStores/search.png);
    background-repeat: no-repeat;
    background-size: 7% 50%;
    background-position: 5%;
    padding: 0px 30px!important;
    width:94%!important;  
}   
 form.example.serch-form {
    margin-bottom: 0px;  
    float:right;
}   
.storemiddle-sec {
    background-color: #eef2f6;
    padding: 15px 15px 0px 15px;
}
.add-store-imgsec {  
    margin-bottom: 10px;

}
.right_menu {margin-bottom: 0px;}  


/* Hide the browser's default checkbox */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}  

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0px;
    left: 0;  
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #00a0da;  
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #00a0da;
    border: 1px solid #00a0da;
    /*border-radius: 5px;*/
}  

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-radio .checkmark:after {
    left: 5px;
    top: 2px;  
    width: 5px;
    height: 10px;  
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}  
.regst-input input {
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 40px;  
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;
    color: #565656;
    padding: 0px 10px;  
}    
.regst-input input:focus {
    border-bottom: 1px solid #04a5dc;
    border-top: 1px solid #04a5dc;  
    border-left: 1px solid #04a5dc;
    border-right: 1px solid #04a5dc;  
    color: #04a5dc;    
    outline: none;    
}  
input[type="checkbox"] {
    width: auto;
} 

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */  
    position: fixed; /* Stay in place */
    /*z-index: 1;  Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;  
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 650px;  
    position: relative;
}

/* The Close Button */
.close1 {
    font-size: 16px;
    font-weight: bold;
    background-color: #f4f4f4;
    border: 1px solid #808080;
    padding: 7px 15px;
    border-radius: 5px;  
}  

.close1:hover,  
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}    

.mod-header {
    background-color: #ebeaea;
}  
.mod-header p {
    margin-bottom: 0px;
    text-align: left;
    padding: 10px 20px;  
    font-size: 17px;
    font-weight: 600;
}  
.mod-middle {
    padding: 25px 25px 0px 25px;  
}
.mod-middle ol {
    padding: 0px;
    margin-bottom: 0px;  
}  
.mod-middle ol h4 {
    color: #04a5dc;
    font-size: 15px;
    font-weight: 700;
}  
.list-type {
    padding: 15px 40px;
}    
.list-type p {
    font-size: 13px;  
    font-weight: 500;
    color: #666666;
    margin-bottom: 0px;  
}
.list-type form {
    font-size: 13px;
    font-weight: 600;  
}  
.list-type form input[type="text"] {
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
    margin-left: 10px;
}
.list-type label {  
    display: inline-block;
    /* margin-bottom: .5rem; */
    margin-left: 25px;
    font-size: 13px;
    font-weight: 600;
    vertical-align: middle;
}
.mod-footer {
    padding: 10px 24px;
    text-align: right;  
}
/*.Connect-btn {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Aileron-bold;
    color: #fff;  
    display: inline-block;
    text-align: center;
    text-decoration: none; 
    border:none; 
}*/
.Connect-btn:hover {color:#fff!important;}
.Connect-btn:active {color:#fff;}
.Connect-btn:focus {color:#fff;}
hr.footer-hrmod {
    margin: 0px;
}  
img.ebay-logo {
    width: 100px;
    float: right;
    margin-top: -32px;  
}  

.list-type h6 {
    font-size: 13px;
}  
p.amezon-second {
    margin-bottom: 5px;
}  
button.amezon-btn {
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
    margin-left: 10px;
    color: #04a5dc;
    font-weight: 600;
    cursor: pointer;
}
.list-type select {
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
    margin-left: 10px;
    width: 33%;
}  
button.close {
    background-color: #f5f5f5;
    border: 1px solid #808080;
    padding: 8px 15px;  
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}  
strong.bold-text {
    color: #000;  
}
.list-type li {
    font-size: 13px;
    font-weight: 500;
    color: #666666;
}  

/**********pop-up-css******************/

.modal-contented {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 80%; 
    max-width: 850px; 
    position: relative;
} 
.modal .modal-header h5 { 
    color: #fff; 
    font-size: 20px;
    margin: 0;
    padding: 0; 
    border-radius: 5px; 
}  
.modal .modal-header {
    background: #07a8de; 
    margin: 0;
    padding: 15px 18px;
    border-radius: 5px 5px 0 0;
    border: 0;
}
.modal-middle {
    padding: 30px;
    height: 400px;
    overflow-y: scroll;
}
.modal-middle h6 {
    font-size: 20px;
    line-height: 16px;
    color: #04a5dc;
    font-family: Aileron-Bold;
}
.opencart-imgs {
    float: right;
}
.optionlabel {
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    font-family: Aileron-Bold;
    float: left;
    margin: 17px 15px 0 0;
}
.messagefirst select.form-control.template {
    float: left;
    width: 250px;
    font-size: 15px;
    line-height: 16px;
    color: #333333;
    background-color: #f4f4f4;
    height: 40px!important;
    border-color: #0aa8de;
    margin: 0px;
}
.mod-footer {
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px 24px;
    text-align: right;
    overflow: hidden;
}
button.crose {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-family: Aileron-Bold;
    font-size: 20px;
    color: #000;
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
}
.modal-middle p {
    font-size: 15px;
    line-height: 21px;
    color: #090909;
    margin-top: 30px;
}
button.close {cursor: pointer;}
.oder-list li {
    font-size: 15px;
    line-height: 21px;
    color: #090909;
    padding: 7px 0px;
}
.cominp-fild {
    float: left;
    width: 250px;
    font-size: 15px;
    line-height: 16px;
    color: #333333;
    background-color: #f4f4f4;
    height: 40px!important;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0px 10px;
}
.messagefirst {
    margin: 4px 0px; 
    padding: 0;
    float: left;
    width: 100%;
} 
.optionlabel.shipp-padd {
    margin-right: 116px;
}
.oder-padd {
    margin-top: 40px;
}
.opn-la {
font-size: 16px;
    line-height: 16px;
    color: #333333;
    font-family: Aileron-Bold;
    margin-top: 13px;
    height:40px;
}
.template {
    font-size: 15px!important;
    line-height: 21px;
    color: #090909;
}
.opctstp {
    padding: 0px 40px;
}
.opctstp .cominp-fild {
    width: 100%;
    padding: 0px 10px;
}
.comma-text {
    font-size: 15px;
    line-height: 21px;
    color: #090909;
}
.opctstp.oscomer {
    padding: 0px 80px;
    overflow: hidden;
}
/*.Connect-btn {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Aileron-bold;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}*/
.react-ul {padding: 0px 20px;}
.react-ul li:before {
    content: "";
    border: 2px solid #04a5dc;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 10px;
}
.mod-rew {
    background-color: #dbf1f8;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
}
.mod-rew pre {
    margin: 0px;
}
.vol-text {
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    font-family: Aileron-Bold;
    margin-top: 40px;
}  
.con-btn {
    color: #0099cc;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
}
.con-btn:hover {color: #0099cc;}

.run {position: relative;}
  .run label.customcheck {
    font-size: 17px;
    color: #333;
    font-weight: bold;
}
.bold-extra {
    padding-left: 50px;
}
.find-shop {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 5px;
    color: #06a7dd;
    font-weight: 600;
}
.find-shop:hover {color: #06a7dd;}
.find-shop:active {color: #06a7dd;}
.find-shop:focus {color: #06a7dd;}

/************upload btn viewprocessor2***********/
.upload-btn-wrapper-img {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding-right: 20px;
    margin-top: 10px;
}

.btn-gourav {
    border: 1px solid #3c8ee7;
    background-color: #3c8ee7;
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
}

.upload-btn-wrapper-img input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.dropdown, .dropup {
    position: relative;
    display: inline-block;
    margin-top: 6px;
}
.magentoversionhidediv{display: none;}

/***********************25-dec-2018**************************/

@media (max-width: 570px) {
.col-xs-6 {width: 50%;}  
}

/***********************31-dec-2018**************************/
.mysearch {
    width: 100%;
    float: right;
}
.mysearch .my-input {
width: 60% !important;
float: left !important;
height: 35px;
}
.mysearch .my-btn {
    width:40% !important;
    padding:7px 0px;
    border-radius: 0px 5px 5px 0px;
}

/***************04 Jan 2019 LoadFirst css**********************/
.loaderFirst {
    text-align: center;
    width: 100%;
    top: 40%;
}
