body {background: #ecf0f4;}
.order-summary-back {
    background-color: #eef2f6;
} 
.order-summary {
    padding: 20px 25px 0px 20px;
} 
/*.order-summary h1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
}*/  
/*.order-sumary-body {
    background-color: #fff;
    margin: 20px 50px 0px 30px;
    padding: 30px;
    border-radius: 5px;
}*/  
/*.order-sumary-body h6 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}  */
.order-sumary-body h3 {      
    color: #666666;  
    text-transform: capitalize;   
    font-size: 14px;
    font-weight: bold;  
}
.order-sumary-body h5 {  
    font-size: 14px;
    color: #999999;  
    font-weight: bold;
}
.order-sumary-body h4 {
    font-size: 13px;
    color: #666666;  
    font-weight: bold; 
    margin-bottom: 30px;   
}
.order-sumary-body .oredr-email {
    color: #999999;
    font-size: 14px;
    display: block;
}

.add_list_footer {
    padding: 15px 30px;
}  
.add_list_footer a {
    font-size: 14px;
    color: #2db4e3;
    text-decoration: none;
}
.Binary_design {
    text-align: right;
    display: block;
}

.order-sumary-body-footer {
    background-color: #fff;
    margin: 20px 50px 0px 30px;
    padding: 30px;
    border-radius: 5px;
    clear: both;
    overflow: hidden;  
}  
.order-sumary-body-footer .order-sumary-body-width {
    width: 12.5%;
    float: left;
}   
.order-sumary-body-footer .order-sumary-body-width h6 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;  
}    
.order-sumary-body-footer .order-sumary-body-width p {  
    font-size: 12px;
    color: #333333;
    font-weight: bold;
}
.order-sumary-body-btn {
    padding: 20px 50px 30px 30px;  
}
.Connect-btn {
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Aileron-regular;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
}
/*select.order-slectbox {
    width: 88%;
    border: #ebeaea;
    height: 25px;
    background-color: #ebeaea;
    color: #999999;
    font-size: 10px;
}   */ 
ul.step-bar {
    padding: 50px 0px;  
}
ul.step-bar li {
    display: inline-block;
    width: 20%;
    float: left;
    position: relative;    
}   
.order-slectbox.singl-slect {
    width: 75%;
    outline: none;
}   
ul.step-bar li p {
    border: 5px solid #ccc;
    width: 30px;
    height: 30px;  
    border-radius: 50%; 
    margin-bottom: 0px;
}
ul.step-bar li p:after {
    border: 5px solid #ccc;
    content: "";
    position: absolute;
    width: 84%;      
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
li.step-one p {
    border: 5px solid #4cbfe6!important;  
    z-index: 9;
}  
li.step-one p:after {    
    border: 5px solid #4cbfe6!important;    
    z-index: 1;
}  
li.step-two p {
    border: 5px solid #4cbfe6!important;  
    z-index: 9;
}  
li.step-two p:after {    
    border: 5px solid #4cbfe6!important;    
    z-index: 1;
} 
li.step-three p {
    border: 5px solid #4cbfe6!important;    
    z-index: 9;  
}  
li.step-three p:after {    
    border: 5px solid #4cbfe6!important;    
    z-index: 1;
} 

/*ul.step-bar li p:hover:before {
    width: 30px!important;
    height: 30px;
    border: 5px solid red;
    content: "";
    position: absolute;
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    left: 0px;
    z-index: 99;
}  
ul.step-bar li p i {   
    display: none;
}
ul.step-bar li p:hover:before i {
   display: block;  
}  
ul.step-bar li p:hover:after {}  
*/
.orderprocess{
 margin:25px 0;
 padding:50px;
 width: 100%;
 background-color: #fff;
 box-shadow: 0px 0px 10px #ccc;
 border-radius: 5px;  
}
.labsec{
margin: 0;
padding: 0;
float: left;
width: 30%;     
}
.writetext{
margin: 0;
padding: 0;
float: left;
width: 70%;     
}
.idauto{
 margin:15px 0;
 padding: 0;
 overflow: hidden;  
}
.labsec p {
    color: #333;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
    font-family:"Aileron-Bold";
}
.form-control.custom {
    background: #f4f4f4;
    border-radius: 5px;
    border-color: #ededed;
    height: 45px;
    color: #666666;
    font-family: "Aileron-Regular";
}
span.input-group-append {
    display: none;
}
.customclander{
  margin:0;
  padding: 0;
  position: relative;   
}
.customclander span{
         position: absolute;
    top: 12px;
    z-index: 999;
    right: 15px;
}
.writetext .switch {
    margin-top: 5px;
}
.asigndrop .form-control.template {
    background-color: #f4f4f4;
    border-color: #ededed;
    font-size: 14px;
    color: #333;
}
.writetext.center label {
    margin: 0 20px 0 0;
}
.writetext.center span {
       margin: 12px 0;
    display: inline-block;
    padding: 0;
}
.shop{
        color: #1ba3d1;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: "Aileron-Bold";
    margin-top: 4px;
    display: inline-block;  
}
.btn.btn-secondary.Cancel{
      background: #e7e7e7;
    color: #333;
    width: 100px;
    font-size: 18px;
    border-color: #a0adbb;
    font-family: 'aileronsemibold';
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 42px;   
}
.btn.btn-primary.submit{
    background: #3c8ee7;
    border: 0;
    font-size: 18px;
    font-family: Aileron-Bold;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
     margin-left: 10px;
    width: 100px;
    height: 42px;
}
.btnright{
  float: right;   
}
.btn.btn-secondary.Cancel{
      background: #e7e7e7;
    color: #333;
    width: 100px;
    font-size: 18px;
    border-color: #a0adbb;
    font-family: 'aileronsemibold';
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 42px;   
}

.writetext.center span {
    margin: 12px 0;
    display: inline-block;
    padding: 0;
}
.labelboder{
    float: left;
   margin: 0;
   padding: 0;
   width: 100%;   
}
.radiosize{
   float: left;
   margin: 0;
   padding: 0;
   width: 100%;
   margin-bottom: 10px;  
}
.radiolabel{
         margin-top: 15px;
    padding: 0;
    display: inline-block;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 38px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    font-family:"Aileron-Regular";
    font-size: 20px;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
        content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #3d3d3d;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #0099cc;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
[type="radio"]:checked + label:before,
[type="radio"]:checked + label:before {
    border-color:#0099cc;
}


/***********************25-dec-2018**************************/

.viewprofileimg {
    border-radius: 50%;
    border: 3px solid #ccc;
    padding: 5px;
    height: 130px;
    width: 130px;
}
.creatpro .upload-btn-wrapper-img {
    position: relative;
    padding-right: 0px;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
}

@media (max-width: 767px) { 
.creatpro {
    max-width: 100%;
    flex: 100%;
}
.creatpro .upload-btn-wrapper-img {
    display: block;
}
}
@media (max-width: 767px) {
.btn.btn-secondary.Cancel {
    width: 100%;
    margin-bottom: 10px;
}
}

/***********************28-dec-2018**************************/
.AssignStore .container-radio {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
    display: inline-block;
    width: auto;
}
.createbtn {
    background-color: #ccc;
    border: none;
    color: #666666;
    padding: 7px 20px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 10px;
}
