.shiconnect {
	margin: 40px 20px;
    box-shadow: 0px 0px 10px #ccc;
}
.shiconnect h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #333333;
    
    font-family: Aileron-Bold;
}
.shiconnect h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #099aca;
    
    font-family: Aileron-Bold;
}
.shiconnect p {
    font-size: 14px;
    /*text-transform: uppercase;*/
    color: #808080;
    
    font-family: "Aileron-Semibold";
}
.shiconnect h6 {
    font-size: 14px;
    /*text-transform: uppercase;*/
    color: #666;
    
    font-family: Aileron-Bold;
    text-align: center;
    line-height: 26px;
    margin-bottom: 20px;
    max-width: 700px;
}
.shiconnect h5 {
    font-size: 16px;
    text-transform: capitalize;
    color: #666;
    font-family: Aileron-Semibold;
}

.subsplans h2 {
    margin-bottom: 35px;
}
.subsplans {
    margin-bottom: 30px;
}

.shipstation {
    margin: 20px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
}
.shipstationhead h1 {
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Aileron-Bold;
    background-color: #099aca;
    margin: 0px;
}
.shipstationbody {
    padding: 40px;
}
.shipstation h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #099aca;
    
    font-family: Aileron-Bold;
}
.shipstation p {
    font-size: 14px;
    /*text-transform: uppercase;*/
    color: #808080;
    
    font-family: "Aileron-Semibold";
}
.shipstation h6 {
    font-size: 14px;
    /*text-transform: uppercase;*/
    color: #666;
    
    font-family: Aileron-Bold;
    text-align: center;
    line-height: 26px;
    margin-bottom: 20px;
    max-width: 700px;
}
.shipstation h5 {
    font-size: 16px;
    text-transform: capitalize;
    color: #666;
    font-family: Aileron-Semibold;
}

.subsplans h2 {
    margin-bottom: 35px;
}
.subsplans {
    margin-bottom: 30px;
}

