.setting-box {
    background-color: #fff;
    padding: 30px;
    min-height: 370px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.8s ease;
    cursor: all-scroll;
}
.setg-page-row {
    margin: 40px 20px;
}
.setting-box img { 
    margin-bottom: 10px;
}
.setting-box h5 {
    font-family: Aileron-Bold;
    font-size: 20px;
    transition: 0.9s ease;
}
.setting-box .Selling-head {
    font-size: 15px;
    color: #0099cc;
    font-family: Aileron-Bold;
    transition: .9s ease;
    cursor: pointer;
}
.setting-box p {
    font-size: 12px;
    font-weight: 600;
    color:#999;
    transition: .9s ease;
}
.setting-box:hover {
    background-color: #0099cc;
    box-shadow: 0px 0px 20px #ccc;
}
.setting-box:hover h5 { 
    color:#fff;
}
.setting-box:hover p { 
    color:#fff;
}
.setting-box:hover .Selling-head {
    color:#00447f;
    text-decoration: underline;
}