.cards {background-color: #eef2f6;} 
.cards-account {padding: 20px 50px;} 
.cards-account-second {padding: 20px 50px;}    
.cards-account-form {
    padding: 20px 50px;    
    max-width: 800px;
    margin: 0 auto;
}  

.add-card {
    background-color: #04a5dc;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 5px;
    display: inline-block;
}      
.add-card:hover {  
    background-color: #04a5dc;
    color: #fff;
    text-decoration: none;  
    }
.confirm-card {  
    color: #fff !important;
    background-color: #28a745;
    display: inline-block;  
    padding: 10px 8px;
    border-radius: 5px 0px 0px 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}  
.confirm-card:hover {  
    background-color: #04a5dc;
    color: #fff;
    text-decoration: none;  
    }
.red-close {
    color: #fff;
    background-color: red;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 0px 5px 5px 0px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}    
.red-close:hover {  
    background-color: #04a5dc;
    color: #fff;
    text-decoration: none;  
    } 
.confirm-close {
    text-align: right;
}  
.cards-account-second p {
    font-size: 13px;
    font-weight: 600;
    color: #999999;
    margin-bottom: 0px;
}  
.video-sec {
    margin: 35px 0px 0px 0px; 
}  
.video-sec h1 {  
    font-size: 26px;
    text-transform: uppercase;
    color: #565656;
    font-weight: bold;
    text-align: center;
}
.video-Instuction {
    max-width: 500px;
    margin: 40px auto;
}  
.cards-account-form p {
    font-size: 13px;
    font-weight: 600;
    color: #666666;
    padding: 5px 0px;
}    
.cards-account-form li {
    font-size: 13px;
    font-weight: 600;
    color: #666666;
    padding: 5px 0px;
}    
/*footer.add_list_footer {
    padding: 20px 30px 0px;
}  */
footer.add_list_footer .Binary_design-p {
    text-align: right;
}
footer.add_list_footer p {
    font-size: 14px;
}  
footer.add_list_footer .Binary_design-p a {
    color: #0099cc;
    text-decoration: none;
}    

/**********prodect-model**********/
.add-prdt-header {
    background-color: #04a5dc;
}
.add-prdt-header p {  
    margin-bottom: 0px;  
    text-align: left;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    color:#fff;
}
button.close-sign {
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}  
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
    /* border: 2px solid gray; */
    color: #04a5dc;  
    background-color: transparent;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}  
  
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.prdt-upload-img {
    max-width: 80px;  
    width: 80px;
    box-shadow: 0px 0px 20px #ccc;
    border: 1px solid #ccc;
    max-height: 80px;
    margin-bottom: 10px;
}    
.add-prdt-middle {
    padding: 20px 0px;
}
.add-prdt-middle ul {
    padding: 0px;
    margin: 0 auto;
    max-width: 400px;
}    
.add-prdt-middle ul li {
	list-style: none; 
	padding: 2px 0px;     
}
.add-prdt-middle ul li p {  
	font-size: 15px;  
	font-weight: bold;  
}
.add-prdt-middle input[type="text"] {
    background-color: #f4f4f4;  
    border: none;
    width: 100%;
    color: #828282;
    font-size: 13px;  
    height:30px;    
    padding:0px 10px;  
}  
.house-phonenum {  
    font-size: 13px;
    color: #666666;
    margin-bottom: 0px;
}   
.card-row {  
    margin-bottom: 15px;  
}     
.add-prdt-middle {
    padding: 20px 0px;
    width: 500px;
    margin: 0 auto;
}  
 
.add-prdt-middle input[type="text"] {height:40px;}
label {color: #666;}       

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .1em; left: .1em;  
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}  
@media only screen and (max-width: 580px) { 
.cards-account-second p {text-align: center;}   
.confirm-close {text-align: center;margin-top: 15px;}    
.video-Instuction iframe {height: auto;} 
.cards-account {text-align: center;}   
}  

cominp-fild.mywd.option-pass {width: 100%;}
input.Resend-sms.abtn {padding: 6px 0px;}
.white-btn {
    background-color: #fff;
    display: inline-block;
    padding: 10px 8px;
    border-radius: 0px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 2px #ccc;
}