/*.storemiddle-sec {
    background-color: #eef2f6;
    padding: 15px;
    
}  */
.addstore-list-text h1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}  
.package-label-box {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #ccc;
    margin:10px; 
}
.package-header span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
}  
.package-body p {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
}  
.package-header {
    margin-bottom: 15px;
}  
.yellow-btn {
    background-color: #eb9423;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 7px 0px;
    display: inline-block;    
    border-radius: 3px;
    margin-right: 2px;
    width:100%;
    text-align: center;
}  
.yellow-btn:hover { 
	color: #fff;
	text-decoration: none;
}
.yellow-btn:active { 
    color: #fff;
    text-decoration: none;
}
.yellow-btn:focus { 
    color: #fff;
    text-decoration: none;
}
.green-btn {  
    background-color: #79d27c;  
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 7px 0px;
    display: inline-block;
    border-radius: 3px;  
    margin-right: 2px;
    width:100%;
    text-align: center;
}  
.green-btn:hover { 
	color: #fff;
	text-decoration: none;
}
.green-btn:active { 
    color: #fff;
    text-decoration: none;
}
.green-btn:focus { 
    color: #fff;
    text-decoration: none;
}
.blue-btn {
    background-color: #6b57e0;  
    color: #fff;
    font-size: 13px;  
    font-weight: 700;
    padding: 7px 0px;    
    display: inline-block;
    border-radius: 3px;
    margin-right: 2px; 
    width:100%;
    text-align: center; 
}     
.blue-btn:hover {  
	color: #fff;
	text-decoration: none;  
} 
.blue-btn:active {  
    color: #fff;
    text-decoration: none;  
} 
.blue-btn:focus {  
    color: #fff;
    text-decoration: none;  
} 
.house-content {border-radius: 5px;}

.print-date {
    display: inline-block;
    margin-right: 5px;
}
.ship-date {
    font-size: 16px;
    color: #333333;
    padding: 2px 0px;
}
.shiping-date:before {
    content: ":";
    position: absolute;
    left: 0;
    font-size: 19px;
    font-weight: 700;
}
.react-datepicker-wrapper input[type="text"] {
     width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 31px;
    padding: 0px 10px !important;
    background-image: url(../../images/clandericon.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 11%;
}