/****Add-Store*****/
.container-fuild.left-margin{
  margin-left: 300px;
  width: calc(100% - 300px);   
}
.sorting-list h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #333;
    display: inline-block;
    font-family: Aileron-Bold;
}
.sorting-list {
    margin: 0;
    padding: 20px 5px 0;
}
.btn.btn-primary.addbtn {
    background: #3c8ee7;
    border: 0;
    font-size: 15px;
    font-family: Aileron-Bold;
    float: right;
    position: relative;
    top: -7px;
    height: 38px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
     -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 4px 6px 0 rgba(0,0,0,.12);  /* Firefox 3.5 - 3.6 */
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn.btn-primary.addbtn:hover{
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%; 
}
.btn.btn-primary.addbtn:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
.custom_tabel {
    margin: 13px 0;
    padding: 0;
    
}
tr.bg {
    background: #08a3dd;
    border: 0;
}
.custom_tabel .table tbody tr:nth-child(even) {
    background-color: #ecf0f4;
}
.custom_tabel .table {
    background: #fff;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    border-radius: 2px 2px;
}
.custom_tabel .table th {
    font-size: 16px;
    color: #fff;
    font-family: Aileron-Bold;
}
.custom_tabel .table td {
    font-size: 15px;
    color: #333;
    font-weight: 500;
    font-family: 'aileronsemibold';
}
.btn.btn-primary.synbtn {
    background: #06a4dc;
    border: 0;
    font-size: 14px;
    width: 66px;
    height: 32px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn.btn-primary.synbtn:hover{
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%; 
} 
.btn.btn-primary.synbtn:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
.status {
    background: #4caf50;
    height: 13px;
    width: 13px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-top: 10px;

}
.edit_icon a{
    color: #7d7d7d;
    font-size: 15px;
    position: relative;
    margin: 0;
    /*padding: 0 20px 0 0;*/
}

.addstore a{
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'aileronsemibold';
    font-size: 15px;
}
.addstore a .fa-pencil-alt {
    background: #e64c3c;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #fff;
}

/* The container */
.customcheck {
       display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
   border: 2px solid #c7c7c7;
       border-radius: 2px;
}


/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #2196F3;
    border-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.status.red{
  background:#e64a19;   
}
.status.orange{
    background: #ffcc33; 
}
.sorting-list.online h1 {
    font-size: 13px;
    margin: 0 15px;
    position: relative;
    top: 3px;
    color: #333;
    font-family: 'aileronsemibold';
}
td.urlcloth a{
    font-size: 14px;
    color: #0099cc;
    font-family: 'aileronsemibold';   
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eef2f6;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #cfcfcf;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #4caf50;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #eef2f6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.pagination .activelink a {
    background-color: #06a4dc;
    color: #fff;
}

/*********************28-DEC-2018-Evening********************************/

.view-serch #search_keyword {
    float: left;
    width: 65%;
    max-height: 33px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.view-serch #submit_btn {
    float: left;
    width: 35%;
    max-height: 35px;
    padding: 6px 0px 6px 0px;
    cursor: pointer;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.view-serch {
    width: 25%;
    float: right;
}
.loaderdiv {
    width: 300px;
    margin: auto;
    background: #eee;
}
.loader {
    text-align: center;
    /*position: absolute;*/
    width: 100%;
    top: 40%;
}
.loadingtext{font-size:16px;}