.per-profile-back {
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
    padding: 30px;
    border-radius: 5px;
    margin: 35px 10px 0px 10px;
}
.persen-info li:nth-child(1) {
    font-size: 16px;
    color: #373757;
    font-family: Aileron-Bold;
    text-transform: uppercase;
    width: 30%;
}
.persen-info li:nth-child(2) {
    font-size: 15px;
    font-family: Aileron-regular;
    color: #373757;
}
.persen-info {
    margin-top: 12px;
}
.persen-info li {
    display: inline-block;
}
.persen-dot {
    margin-right: 20px;
}
.per-profile {
    border-top: 2px dotted #2db4e3;
    margin-left: 20px;
    padding-top: 20px;
}
.person-Name {margin-bottom: 20px;margin-left: 20px;}
.person-Name h4 {
	font-size: 28px;
    /*text-align: center;*/
    font-family: Aileron-bold;
    color: #2db4e3;
}
.person-Name h6 {
	font-size: 24px;
    /*text-align: center;*/
    font-family: Aileron-regular;
    color: #2db4e3;
}
.persen-img img {
    width: 100%;
    object-fit: cover;
    max-height: 362px;
    height: 362px;
}