.notificationpage{
margin:30px 0;
padding: 0;
float: left;
width:100%;
box-shadow: 0px 0px 5px #cccccc;
}
.notificationhead{
margin:0 0;
padding:20px 0;
float: left;
width:100%
}
.notificationhead h1{
    margin: 0 0;
    padding: 0;
    font-size: 20px;
    font-family: Aileron-Bold;
    text-transform: uppercase;
    font-weight: 600;
}
.dash-foot-sec.nfooter{
float: left;
width: 100%;
margin: 0;
}
.notificationbox{
 margin:0 0;
padding:15px;
float: left;
width:100%;
background:#fff;
border-radius: 5px;   
}  
.crossbtnnoti{
margin: 0;
padding: 0;
float: left;
width: 7%;    
}
.notifidata{
margin: 0;
padding: 0;
float: left;
width: 93%;    
}
.crossbtnnoti span {
    background: #dee5eb;
    width: 30px;
    float: left;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    line-height: 29px;
}
.btn.btn-primary.join {
    background: #009933;
    border: 0;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 600;
    font-family: Aileron-Bold;
    height: 25px;
    line-height: 13px;
    margin: 3px 0;
}
.notifidata span {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #acbac9;
    font-weight: 500;
    font-family: Aileron-Bold;
    vertical-align: middle;
}
.notifidata span img {
    vertical-align: middle;
    margin-right:5px;
}
.notifidata h1{
 margin: 0;
 padding: 0;
 color: #666;
 font-size: 15px;
 font-weight: 600;
 font-family: Aileron-Bold;
 margin-top: 3px; 
}  
.notifidata p{
 margin: 0;
 padding:3px 0;
 color: #666;
 font-size: 14px;
 font-weight: 500;
 font-family: Aileron-Bold;  
 text-align: justify; 
} 
.notifidata h3{
 margin: 0;
 padding:5px 0;
 color: #fb2020;
 font-size: 15px;
 font-weight: 600;
 font-family: Aileron-Bold;   
} 
.notiboxline{
 background: #d4dce4;
 border-color: #d4dce4;
 float: left;
 width: 100%;   
}
.btn.btn-primary.join.mess{
    background: #ff9900;
}
.btn.btn-primary.join.comm{
    background: #6600cc;
}
.btn.btn-primary.join.conn{
    background: #0099cc;
}
.notifidata label {
    color: #0099cc;
}

.joblisting{
 float: left;
 width: 100%;
 margin:40px 0;
 padding: 0;   
}

/***************************2-jan-2018-Gourav****************************************/


.deletepopup {
    max-width: 350px;
    padding: 20px;
    text-align: center;
}
.deletepopup i.fa.fa-times-circle {
    font-size: 55px;
    color: #a91d1d;
    margin-bottom: 10px;
}

.deletepopup h6 {
    font-size: 18px;
    font-family:"Aileron-Regular";
    text-transform: uppercase;
    font-weight: 600;
    color:#333;
}
.deletepopup p {
    font-size: 12px;
    font-family:"Aileron-Regular";
    margin: 0px;
}
.cencelsure {
    background-color: #646464;
    border: 1px solid #646464;
    color: #fff!important;
    padding: 4px 15px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 15px;
    font-family:"Aileron-Regular";
}
.deletesure {
    background-color: #a91d1d;
    border: 1px solid #a91d1d;
    color: #fff!important;
    padding: 4px 15px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 15px;
    font-family:"Aileron-Regular";
}
.loader {text-align: center;}