

@font-face {
    font-family: Aileron-UltraLightItalic;  
    src: url("../../fonts/Aileron-UltraLightItalic.otf");  
}
@font-face {
    font-family: Aileron-UltraLight;  
    src: url("../../fonts/Aileron-UltraLight.otf");  
}
@font-face {
    font-family: Aileron-ThinItalic;
    src: url("../../fonts/Aileron-ThinItalic.otf");
}
@font-face {  
    font-family: Aileron-Thin;
    src: url("../../fonts/Aileron-Thin.otf");
}

@font-face {
    font-family: Aileron-SemiBoldItalic;  
    src: url("../../fonts/Aileron-SemiBoldItalic.otf");    
}
@font-face {
    font-family: Aileron-SemiBold;  
    src: url("../../fonts/Aileron-SemiBold.otf");  
}
@font-face {
    font-family: Aileron-Regular;  
    src: url("../../fonts/Aileron-Regular.otf");
}
@font-face {  
    font-family: Aileron-LightItalic;  
    src: url("../../fonts/Aileron-LightItalic.otf");
}
@font-face {  
    font-family: Aileron-Light;    
    src: url("../../fonts/Aileron-Light.otf");
}
@font-face {
    font-family: Aileron-Italic;    
    src: url("../../fonts/Aileron-Italic.otf");  
}
@font-face {
    font-family: Aileron-HeavyItalic;    
    src: url("../../fonts/Aileron-HeavyItalic.otf");
}
@font-face {  
    font-family: Aileron-Heavy;    
    src: url("../../fonts/Aileron-Heavy.otf");    
}
@font-face {  
    font-family: Aileron-BoldItalic;    
    src: url("../../fonts/Aileron-BoldItalic.otf");  
}  
@font-face {
    font-family: Aileron-Bold;      
    src: url("../../fonts/Aileron-Bold.otf");  
}
@font-face {
    font-family: Aileron-BlackItalic; 
    src: url("../../fonts/Aileron-BlackItalic.otf");
}
@font-face {  
    font-family: Aileron-Black;      
    src: url("../../fonts/Aileron-Black.otf");      
}  
.padd-normal {padding:0px 5px;}
/* The container-radio */  
[name="idCountry"] {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 0px #ccc;
}

[name="state"] {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 0px #ccc;
}

.email input {
    background-size: 3% 60% !important;
}
  
.container-radio {
    display: block;
    position: relative;
    padding-left: 27px;  
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    font-family: Aileron-regular;
}  

/* Hide the browser's default checkbox */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;  
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #00a0da;  
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #00a0da;
    border: 1px solid #00a0da;
    border-radius: 5px;
}  

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-radio .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;  
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);  
    transform: rotate(45deg);
}  
/*.regst-input input {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;  
    border-right: 1px solid #cccccc;
    height: 40px;  
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;  
    color: #565656;
    padding: 0px 40px !important;  
}*/     
/*.regst-input input:focus {  
    border-bottom: 1px solid #00a0da!important;
    border-top: 1px solid #00a0da!important;  
    border-left: 1px solid #00a0da!important;
    border-right: 1px solid #00a0da!important;  
    color: #00a0da!important;        
    outline: none;  
}  */
input[type="checkbox"] {
    width: auto;
} 
.mar-bot {
    margin-bottom: 10px;  
}
.regst-input h2 {
    font-size: 26px;      
    text-transform: uppercase;
    color: #565656;
    font-weight: bold;
    text-align: center;
}
/*******registerpage**********/  
form.singn-up-width {
    max-width: 500px;
    margin: 0 auto;
}
.regst-img {
    background-image: url("../../images/signup_img.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;  
    flex-wrap: wrap;  
    padding:0px 30px;
}
.regst-img h6 {  
    font-size: 35px;  
    font-weight: 600;    
    color: #fff;
    font-family: Aileron-Heavy;
}
.regst-img h1 {  
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    font-family: Aileron-Heavy;
    margin-top:-20px;
}    
.regst-img p {  
    font-size: 13px;  
    font-weight: 400;
    color: #fff;
    font-family: Aileron-Regular;
    line-height: 24px;  
}
.regst-img h5 {  
    font-size: 21px;  
    color: #fff;
    text-transform: uppercase; 
    font-weight: 600;
    font-family: Aileron-Bold;  
    margin-top:15px;
}

/*******regst-input**********/  
.regst-input {
    padding: 70px 60px 0px 60px;  
}  
.regst-input h2:after {
    border-bottom: 1px solid #ccc;
    content: "";
    display: block;
    width: 92%;
    margin: 5px auto 20px auto;
}
.regst-input p {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    font-family: Aileron-Regular;
    margin-bottom: 0px;  
}  
.regst-input h6 {  
    color: #00a0da;
    font-size: 16px;
    font-family: Aileron-bold;
    margin-bottom: 0px;  
}  
.graydent-color {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);      
    padding: 7px 100px;
    border-radius: 5px;
    font-size: 18px;
    font-family: Aileron-bold;
    color: #fff;
    display: inline-block;
    text-align: center; 
    text-decoration: none;  
}  
.graydent-color:hover {
    text-decoration: none; 
    color:#fff; 
}

.account-sign-up {  
    font-family: Aileron-Regular;
    font-size: 17px;
    display: block;
    text-align: center;
    margin-top: 10px;  
    color: #202020;
    text-decoration: none;
}
.account-sign-up:hover {
    color: #00a0da;    
    text-decoration: none;  
}
img.vip-logo {
    position: absolute;
    top:20px;  
    bottom: 20px;
}
input.first-one {  
    background-image: url("../../images/profile.svg");
    background-repeat: no-repeat;  
    background-size: 8% 100%;
    background-position: 12px;
    padding: 0px 40px;  
}  
input.email-one {
    background-image: url(../../images/envelope.svg);
    background-repeat: no-repeat;  
    background-size: 3% 50%;
    background-position: 11px;  
    padding: 0px 40px ;  
}
input.phone-one {  
    background-image: url(../../images/phone-call.svg);  
    background-repeat: no-repeat;
    background-size: 3% 50%;
    background-position: 11px;     
    padding: 0px 40px;  
}
input.pass-one {
    background-image: url(../../images/padlock.svg);
    background-repeat: no-repeat;
    background-size: 6% 100%;
    background-position: 10px;
    padding: 0px 40px;
}  

@media only screen and (max-width: 768px) {
.regst-img {
    max-width: 100%;
    flex: 100%;
}
img.vip-logo {
    position: relative;
    margin: 20px 0px;
}  
.regst-input {
    flex: 100%;
    max-width: 100%;
    padding: 40px;  
}

}

@media only screen and (max-width: 570px) {    
.padd-normal {  
    margin-bottom: 10px;
}
.mar-bot {
    margin-bottom: 0px;  
}
input.first-one {
    background-image: url(../../images/profile.svg);
    background-repeat: no-repeat;
    background-size: 5% 60%;
    background-position: 5px;
    padding: 0px 40px;
}
input.pass-one {  
    background-image: url(../../images/padlock.svg);
    background-repeat: no-repeat;
    background-size: 5% 60%;
    background-position: 5px;
    padding: 0px 40px;
}
.regst-input h2 {font-size: 16px;}  
.graydent-color {  
    padding: 7px;
    width: 100%;
}
  }

input.pass-two {    
    background-image: url(../../images/padlock.svg);
    background-repeat: no-repeat;
    background-size: 5% 60%;
    background-position: 5px;
    padding: 0px 40px;  
}
.regst-img.cus-height {
    height: 100vh;
}  
form.login-div {
    max-width: 300px;
    margin: 0 auto;
}
a.for-pass {
    font-size: 16px;
    font-weight: 400;
    font-family: Aileron-Regular;
    float: right;
    margin-top: -34px;
}  
@media only screen and (max-width: 1024px) { 
.regst-img h1 {  
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    font-family: Aileron-Heavy;
    margin-top: -20px;
}
}
@media only screen and (max-width: 768px) { 
.regst-img.cus-height {
    height: auto;  
}
}
/*************Login****************/
.sukhbir{
    color: red;
}
@font-face {
    font-family: Aileron-UltraLightItalic;  
    src: url("../../fonts//Aileron-UltraLightItalic.otf");  
}
@font-face {
    font-family: Aileron-UltraLight;  
    src: url("../../fonts//Aileron-UltraLight.otf");  
}
@font-face {
    font-family: Aileron-ThinItalic;
    src: url("../../fonts//Aileron-ThinItalic.otf");
}
@font-face {  
    font-family: Aileron-Thin;
    src: url("../../fonts//Aileron-Thin.otf");
}

@font-face {
    font-family: Aileron-SemiBoldItalic;  
    src: url("../../fonts//Aileron-SemiBoldItalic.otf");    
}
@font-face {
    font-family: Aileron-SemiBold;  
    src: url("../../fonts//Aileron-SemiBold.otf");  
}
@font-face {
    font-family: Aileron-Regular;  
    src: url("../../fonts//Aileron-Regular.otf");
}
@font-face {  
    font-family: Aileron-LightItalic;  
    src: url("../../fonts//Aileron-LightItalic.otf");
}
@font-face {  
    font-family: Aileron-Light;    
    src: url("../../fonts//Aileron-Light.otf");
}
@font-face {
    font-family: Aileron-Italic;    
    src: url("../../fonts//Aileron-Italic.otf");  
}
@font-face {
    font-family: Aileron-HeavyItalic;    
    src: url("../../fonts//Aileron-HeavyItalic.otf");
}
@font-face {  
    font-family: Aileron-Heavy;    
    src: url("../../fonts//Aileron-Heavy.otf");    
}
@font-face {  
    font-family: Aileron-BoldItalic;    
    src: url("../../fonts//Aileron-BoldItalic.otf");  
}  
@font-face {
    font-family: Aileron-Bold;      
    src: url("../../fonts//Aileron-Bold.otf");  
}
@font-face {
    font-family: Aileron-BlackItalic; 
    src: url("../../fonts//Aileron-BlackItalic.otf");
}
@font-face {  
    font-family: Aileron-Black;      
    src: url("../../fonts//Aileron-Black.otf");      
}  
.padd-normal {padding:0px 5px;}
/* The container-radio */  

  
.container-radio {
    display: block;
    position: relative;
    padding-left: 27px;  
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    font-family: Aileron-regular;
}  

/* Hide the browser's default checkbox */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;  
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #00a0da;  
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #00a0da;
    border: 1px solid #00a0da;
    border-radius: 5px;
}  

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-radio .checkmark:after {
    left: 5px;
    top: 2px;  
    width: 5px;
    height: 10px;  
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}  
.regst-input input {
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 40px;  
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;
    color: #565656;
    padding: 0px 40px !important;  
}  
.regst-input input:focus {
    border-bottom: 1px solid #04a5dc;
    border-top: 1px solid #04a5dc;  
    border-left: 1px solid #04a5dc;
    border-right: 1px solid #04a5dc;  
    color: #04a5dc;    
    outline: none;  
}  
input[type="checkbox"] {
    width: auto;
} 
.mar-bot {
    margin-bottom: 10px;  
}
.regst-input h2 {
    font-size: 24px;    
    text-transform: uppercase;
    color: #565656;
    font-weight: bold;
    text-align: center;
}
/*******registerpage**********/
.regst-img {
    background-image: url("../../images/signup_img.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;  
    padding:0px 30px;  
}
.regst-img h6 {
    font-size: 35px;  
    font-weight: 600;  
    color: #fff;
    font-family: Aileron-Heavy;
}
.regst-img h1 {  
    font-size: 60px;
    color: #fff;
    font-weight: 600;  
    font-family: Aileron-Heavy;
    margin-top:-20px;
}  
.regst-img h5 {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    font-family: Aileron-Regular;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;
}  
.regst-img p {
    font-size: 21px;  
    color: #fff;
    text-transform: uppercase;
    text-align: right;  
    font-weight: 600;
    font-family: Aileron-Bold;  
    margin-top:15px;
}
.regst-input {
    padding: 70px 60px 0px 60px;  
}  
.regst-input h2:after {
    border-bottom: 1px solid #ccc;
    content: "";
    display: block;
    width: 80%;
    margin: 5px auto 20px auto;
}

.graydent-color:hover {
    text-decoration: none; 
    color:#fff; 
}
img.vip-logo {
    position: absolute;
    top:20px;  
    bottom: 20px;
}
input.email-one {
    background-image: url(../../images/envelope.svg);
    background-repeat: no-repeat;
    background-size: 6% 60%;    
    background-position: 12px;  
    padding: 0px 40px;
}

input.pass-two {    
    background-image: url(../../images/padlock.svg);
    background-repeat: no-repeat;
    background-size: 6% 60%;  
    background-position: 12px;
    padding: 0px 40px;  
}
.regst-img.cus-height {
    height: 100vh;  
}  
form.login-div {
    max-width: 250px;
    margin: 0 auto;  
}
a.for-pass {
    font-size: 13px;
    font-weight: 400;
    font-family: Aileron-Regular;
    float: right;
    margin-top: -34px; 
    color: #00a0da;   
}  
a.for-pass:hover { 
    color: #00a0da;
    text-decoration: none;
}
.account-sign-up {
    font-family: Aileron-Regular;
    font-size: 17px;
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #202020;
    text-decoration: none;
}  
.account-sign-up:hover {
    color: #00a0da;    
    text-decoration: none;  
}
@media only screen and (max-width: 1024px) { 
.regst-img h1 {  
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    font-family: Aileron-Heavy;
    margin-top: -20px;
}
}

@media only screen and (max-width: 768px) {
.regst-img {
    max-width: 100%;
    flex: 100%;
}  
img.vip-logo {
    position: relative;
    margin: 20px 0px;
}  
.regst-input {
    flex: 100%;
    max-width: 100%;
    padding: 40px;    
}
.regst-img.cus-height {
    height: auto;  
}
}
@media only screen and (max-width: 570px) {    
.padd-normal {  
    margin-bottom: 10px;
}
.mar-bot {
    margin-bottom: 0px;  
}
}  
@media only screen and (max-width: 320px) {   
.for-pass {    
    font-size: 16px;
    font-weight: 400;
    font-family: Aileron-Regular;  
    float: left;
    margin-top: -5px!important;
}  
}
a.reset-pass {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    font-family: Aileron-bold;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
/*************dashboard***********************/
.navbar .sidebar-toggle {
    float: left;
    margin-left: -4px;
}

.navbar .sidebar-toggle+.navbar-brand {
    margin-left: 0;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #1a1d1d;
    /* font-size: 14px; */
    z-index: 100;
    overflow: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.sidebar.sidebar-static {
    position: absolute;
}

.sidebar i {
    font-size: 1.12em;
    margin-right: 5px;
    vertical-align: middle;
    width: 1.4em;
    display: inline-block;
}

.sidebar i.fa {
    vertical-align: baseline;
}

.sidebar ul {
    margin: 0;
    list-style-type: none;
    padding: 0px 0;
}

.sidebar .nano-content>ul {
    width: 100%;float: left;
    -webkit-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}

.sidebar.sidebar-gestures  .nano-content > ul li.label {
    color: #6a6c6f;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 40px;
    padding:0 40px 20px 40px;
    text-transform: capitalize;
}

.sidebar .nano-content>ul li.content {
    padding: 10px;
    color: #D8D8D8;
}

.sidebar .nano-content>ul li.content .progress {
    margin-top: 0.7em;
}

.sidebar .nano-content>ul li>ul {
    display: none;
    background: rgba(52,57,87,0.2)!important;
}

.sidebar .nano-content>ul li.open>ul {
    display: block;
}

.sidebar .nano-content>ul li>a {
    display: block;
    cursor: pointer;
    color: #BDBDC7;
    padding: 10px;
    line-height: 30px;
    border-bottom: none;
    /* background: rgba(255, 255, 255, 0.067); */
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sidebar .nano-content>ul li>a:hover {
  background: #F5F7F9;
}

.sidebar .nano-content>ul li>a>.sidebar-collapse-icon {
    float: right;
    margin-right: 5px;
    font-size: 10px;
    margin-top: 10px;
    transition: -webkit-transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.sidebar .nano-content>ul li>a>.badge {
    font-weight: normal;
    position: absolute;
    right: 35px;
    top: 16px;
}

.sidebar .nano-content>ul li:hover>a, .sidebar .nano-content>ul li.active>a, .sidebar .nano-content>ul li.open>a {
    color: #0eafe1;
    position: relative;
}



.sidebar .nano-content>ul li.open>a>.sidebar-collapse-icon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.sidebar .nano-content>ul>li.label, .sidebar .nano-content>ul>li.content, .sidebar .nano-content>ul>li>a {
    padding-left: 20px;
    padding-right: 20px;
}

html.rtl .sidebar .nano-content>ul>li.label, html.rtl .sidebar .nano-content>ul>li.content, html.rtl .sidebar .nano-content>ul>li>a {
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar .nano-content>ul>li.active>a, .sidebar .nano-content>ul>li.open>a, .sidebar .nano-content>ul>li>ul {
    background: #f5f7f9;
}

.sidebar .nano-content>ul>li>ul>li.label, .sidebar .nano-content>ul>li>ul>li.content, .sidebar .nano-content>ul>li>ul>li>a {
    padding-left: 50px;
    padding-right: 15px;
}

html.rtl .sidebar .nano-content>ul>li>ul>li.label, html.rtl .sidebar .nano-content>ul>li>ul>li.content, html.rtl .sidebar .nano-content>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 45px;
}

.sidebar .nano-content>ul>li>ul>li.active>a, .sidebar .nano-content>ul>li>ul>li.open>a, .sidebar .nano-content>ul>li>ul>li>ul {
    background: #242634;
}

.sidebar .nano-content>ul>li>ul>li>ul>li.label, .sidebar .nano-content>ul>li>ul>li>ul>li.content, .sidebar .nano-content>ul>li>ul>li>ul>li>a {
    padding-left: 67.5px;
    padding-right: 15px;
}

html.rtl .sidebar .nano-content>ul>li>ul>li>ul>li.label, html.rtl .sidebar .nano-content>ul>li>ul>li>ul>li.content, html.rtl .sidebar .nano-content>ul>li>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 67.5px;
}

.sidebar .nano-content>ul>li>ul>li>ul>li.active>a, .sidebar .nano-content>ul>li>ul>li>ul>li.open>a, .sidebar .nano-content>ul>li>ul>li>ul>li>ul {
    background: #1c1d28;
}

.sidebar .nano-content>ul>li>ul>li>ul>li>ul>li.label, .sidebar .nano-content>ul>li>ul>li>ul>li>ul>li.content, .sidebar .nano-content>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 90px;
    padding-right: 15px;
}

html.rtl .sidebar .nano-content>ul>li>ul>li>ul>li>ul>li.label, html.rtl .sidebar .nano-content>ul>li>ul>li>ul>li>ul>li.content, html.rtl .sidebar .nano-content>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 90px;
}

/* Small Sidebar styles */

body {
    position: relative;
}

.sidebar-hide .sidebar {
    left: -250px;
}

.sidebar {
    -webkit-transition: left 300ms ease-in-out, width 300ms ease-in-out;
    transition: left 300ms ease-in-out, width 300ms ease-in-out;
}

/* Hide to Small bar */

.sidebar-hide .sidebar.sidebar-hide-to-small {
    position: absolute;
    width: 60px;
    left: 0;
    top: 0px;
}

.sidebar-hide .sidebar.sidebar-hide-to-small, .sidebar-hide .sidebar.sidebar-hide-to-small .nano, .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content {
    overflow: visible;
    /*background: #fff;*/
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul {
    width: 60px;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul .label, .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul .content {
    display: none;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul .badge {
    display: none;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>a {
    padding: 0;
    text-align: center;
    padding: 12px 0;
    line-height: 1;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>a>i {
    width: auto;
    font-size: 1.2rem;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>a, .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>a>.sidebar-collapse-icon {
    font-size: 0;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>a>.badge {
    position: absolute;
    right: 3px;
    top: 3px;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li {
    position: relative;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>ul {
    visibility: hidden;
    width: 200px;
    position: absolute;
    top: 0;
    left: 100%;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul li:hover>ul {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    -webkit-box-shadow: 0 2px 2px 0 #e7e7e7;
    box-shadow: 0 2px 2px 0 #e7e7e7;
    display: block !important;
    visibility: visible;
}

.sidebar-hide .sidebar.sidebar-hide-to-small~.content-wrap {
    margin-left: 60px;
}

.sidebar.sidebar-overlay.sidebar-hide-to-small~.content-wrap {
    margin-left: 60px;
}

/* Show with Push content */

.sidebar.sidebar-push~.content-wrap {
    -webkit-transform: translateX(250px) translateZ(0);
    transform: translateX(250px) translateZ(0);
    transition: -webkit-transform 300ms ease-in-out, margin-left 300ms ease-in-out;
    -webkit-transition: margin-left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition: margin-left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, margin-left 300ms ease-in-out;
    transition: transform 300ms ease-in-out, margin-left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.sidebar-hide .sidebar.sidebar-push~.content-wrap {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
}

/* Show with Shrink content */

.sidebar.sidebar-shrink~.content-wrap {
    margin-left: 300px;
   /** -webkit-transition: margin-left 300ms ease-in-out;
    transition: margin-left 300ms ease-in-out;**/
}

.sidebar-hide .sidebar.sidebar-shrink~.content-wrap {
    margin-left: 0;
}

.sidebar-hide .sidebar.sidebar-shrink.sidebar-hide-to-small~.content-wrap {
    margin-left: 60px;
}

.sidebar-hide .sidebar.sidebar-shrink.sidebar-hide-to-small~.header {
    margin-left: 60px;
}

/* Hide on Content Click */

.sidebar.sidebar-overlap-content~.content-wrap:after {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    -webkit-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.sidebar-hide .sidebar.sidebar-overlap-content~.content-wrap:after {
    visibility: hidden;
    opacity: 0;
}

/* Nano Scroller */

.sidebar .nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sidebar .nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sidebar .nano>.nano-content:focus {
    outline: thin dotted;
}

.sidebar .nano>.nano-content::-webkit-scrollbar {
    display: none;
}

.sidebar .nano.has-scrollbar>.nano-content::-webkit-scrollbar {
    display: block;
}

.sidebar .nano>.nano-pane {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden\9;
    /* Target only IE7 and IE8 with this hack */
    opacity: 0.01;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 5px;
}

.sidebar .nano>.nano-pane>.nano-slider {
    /*    background: #ff5a5e;*/
    position: relative;
}

.sidebar .nano:hover>.nano-pane, .sidebar .nano>.nano-pane.active, .sidebar .nano>.nano-pane.flashed {
    visibility: visible\9;
    /* Target only IE7 and IE8 with this hack */
    opacity: 0.99;
}

/* Light Scheme */

.sidebar.sidebar-light {
    background: #F8F8F8;
}

.sidebar.sidebar-light .nano>.nano-pane {
    background: rgba(0, 0, 0, 0.15);
}

.sidebar.sidebar-light .nano-content>ul>li.content, .sidebar.sidebar-light .nano-content>ul>li>a {
    color: #919191;
}

.sidebar.sidebar-light .nano-content>ul>li:hover>a {
    color: #474747;
}

.sidebar.sidebar-light .nano-content>ul>li.active>a, .sidebar.sidebar-light .nano-content>ul>li.open>a {
    color: #fff;
}

.sidebar.sidebar-light .nano-content>ul>li.label, .sidebar.sidebar-light .nano-content>ul>li.content, .sidebar.sidebar-light .nano-content>ul>li>a {
    padding-left: 15px;
    padding-right: 15px;
}

html.rtl .sidebar.sidebar-light .nano-content>ul>li.label, html.rtl .sidebar.sidebar-light .nano-content>ul>li.content, html.rtl .sidebar.sidebar-light .nano-content>ul>li>a {
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar.sidebar-light .nano-content>ul>li.active>a, .sidebar.sidebar-light .nano-content>ul>li.open>a, .sidebar.sidebar-light .nano-content>ul>li>ul {
    background: #206da9;
}

.sidebar.sidebar-light .nano-content>ul>li>ul>li.label, .sidebar.sidebar-light .nano-content>ul>li>ul>li.content, .sidebar.sidebar-light .nano-content>ul>li>ul>li>a {
    padding-left: 45px;
    padding-right: 15px;
}

html.rtl .sidebar.sidebar-light .nano-content>ul>li>ul>li.label, html.rtl .sidebar.sidebar-light .nano-content>ul>li>ul>li.content, html.rtl .sidebar.sidebar-light .nano-content>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 45px;
}

.sidebar.sidebar-light .nano-content>ul>li>ul>li.active>a, .sidebar.sidebar-light .nano-content>ul>li>ul>li.open>a, .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul {
    background: #1d6298;
}

.sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li.label, .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li.content, .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li>a {
    padding-left: 67.5px;
    padding-right: 15px;
}

html.rtl .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li.label, html.rtl .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li.content, html.rtl .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 67.5px;
}

.sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li.active>a, .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li.open>a, .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li>ul {
    background: #195786;
}

.sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li>ul>li.label, .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li>ul>li.content, .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 90px;
    padding-right: 15px;
}

html.rtl .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li>ul>li.label, html.rtl .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li>ul>li.content, html.rtl .sidebar.sidebar-light .nano-content>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 90px;
}

/*
 * RTL sidebar bar
 */

html.rtl {
    direction: rtl;
    /* Show with Push content */
    /* Show with Shrink content */
}

html.rtl .sidebar {
    left: auto;
    right: 0;
    -webkit-transition: right 300ms ease, width 300ms ease;
    transition: right 300ms ease, width 300ms ease;
}

html.rtl .sidebar i {
    margin-right: 0;
    margin-left: 5px;
}

html.rtl .sidebar .nano-content>ul li>a>.sidebar-collapse-icon, html.rtl .sidebar .nano-content>ul li>a>.badge {
    float: left;
}

html.rtl .sidebar-hide .sidebar {
    right: -250px;
}

html.rtl .sidebar-hide .sidebar.sidebar-hide-to-small {
    right: 0;
    left: auto;
}

html.rtl .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>ul {
    left: auto;
    right: 100%;
}

html.rtl .sidebar.sidebar-overlay~.content-wrap {
    margin-right: 0;
}

html.rtl .sidebar-hide .sidebar.sidebar-hide-to-small~.content-wrap, html.rtl .sidebar.sidebar-overlay.sidebar-hide-to-small~.content-wrap {
    margin-left: 0;
    margin-right: 60px;
}

html.rtl .sidebar.sidebar-push~.content-wrap {
    margin-left: 0;
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
    transition: -webkit-transform 300ms ease-in-out, margin-right 300ms ease-in-out;
    -webkit-transition: margin-right 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition: margin-right 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, margin-right 300ms ease-in-out;
    transition: transform 300ms ease-in-out, margin-right 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

html.rtl .sidebar-hide .sidebar.sidebar-push~.content-wrap {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

html.rtl .sidebar.sidebar-shrink~.content-wrap {
    margin-left: 0;
    margin-right: 250px;
    -webkit-transition: margin-right 300ms ease-in-out;
    transition: margin-right 300ms ease-in-out;
}

html.rtl .sidebar-hide .sidebar.sidebar-shrink~.content-wrap {
    margin-left: 0;
    margin-right: 0;
}

html.rtl .sidebar-hide .sidebar.sidebar-shrink.sidebar-hide-to-small~.content-wrap {
    margin-left: 0;
    margin-right: 60px;
}

/*    Humberger icon
--------------------------*/

.hamburger {
    display: inline-block;
    left: 0px;
    position: relative;
    top: 10px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 37px;
    z-index: 999;
}

.hamburger .line {
    background-color: #252525;
    display: block;
    height: 3px;
    margin: 4px auto;
    width: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

/*
.hamburger.is-active {
  left: 65px;
}
*/

.hamburger.is-active .line:nth-child(1), .hamburger.is-active .line:nth-child(3) {
    width: 10px;
    height: 3px;
}

.hamburger.is-active .line:nth-child(2) {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    width: 20px;
    height: 3px;
}

.hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(45deg);
    transform: translateY(3px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-3px) rotate(-45deg);
    transform: translateY(-3px) rotate(-45deg);
}
.orange{background: #e64a19;}
.red{background: #dd2120;}
.yellow{background: #ffa000;}
.blue{background: #3f51b5;}
.green{background: #4caf50;}
.sidebarnav .dropdown-divider {
    margin: 30px 0;
}
.sidebarnav li a i {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.sidebarnav li.active a i {
    color: #0eafe1;
}

@media (min-width: 1600px) and (max-width: 1920px) {
    .sidebar{width: 400px;}
    .header{margin-left: 400px;}
    .sidebar.sidebar-shrink ~ .content-wrap{margin-left: 400px;}
}
/*****************my-store**********************/

@font-face {
    font-family: Aileron-UltraLightItalic;  
    src: url("../../fonts/Aileron-UltraLightItalic.otf");  
}
@font-face {
    font-family: Aileron-UltraLight;  
    src: url("../../fonts/Aileron-UltraLight.otf");  
}
@font-face {
    font-family: Aileron-ThinItalic;
    src: url("../../fonts/Aileron-ThinItalic.otf");
}
@font-face {  
    font-family: Aileron-Thin;
    src: url("../../fonts/Aileron-Thin.otf");  
}

@font-face {
    font-family: Aileron-SemiBoldItalic;  
    src: url("../../fonts/Aileron-SemiBoldItalic.otf");    
}
@font-face {
    font-family: Aileron-SemiBold;  
    src: url("../../fonts/Aileron-SemiBold.otf");  
}
@font-face {
    font-family: Aileron-Regular;  
    src: url("../../fonts/Aileron-Regular.otf");
}
@font-face {  
    font-family: Aileron-LightItalic;  
    src: url("../../fonts/Aileron-LightItalic.otf");
}
@font-face {  
    font-family: Aileron-Light;    
    src: url("../../fonts/Aileron-Light.otf");
}
@font-face {
    font-family: Aileron-Italic;    
    src: url("../../fonts/Aileron-Italic.otf");  
}
@font-face {
    font-family: Aileron-HeavyItalic;    
    src: url("../../fonts/Aileron-HeavyItalic.otf");
}
@font-face {  
    font-family: Aileron-Heavy;      
    src: url("../../fonts/Aileron-Heavy.otf");    
}
@font-face {  
    font-family: Aileron-BoldItalic;    
    src: url("../../fonts/Aileron-BoldItalic.otf");  
}  
@font-face {      
    font-family: Aileron-Bold;      
    src: url("../../fonts/Aileron-Bold.otf");      
}  
@font-face {
    font-family: Aileron-BlackItalic; 
    src: url("../../fonts/Aileron-BlackItalic.otf");
}
@font-face {  
    font-family: Aileron-Black;      
    src: url("../../fonts/Aileron-Black.otf");      
}  
.pad-zero-main {padding:0px;}
.addstore-head-text h1 {  
    font-size: 16px;
    /*font-family: Aileron-Bold;*/  
    text-transform: uppercase;
    font-weight: 600;  
}
.add-store-imgsec .col-sm-2 {  
    padding: 0px 5px;
}
.add-store-imgsec img {
    background-color: #fff;
    box-shadow: 0px 0px 10px #93a6ba2e;
    padding: 20px;
    border-radius: 2px;
}  
.add-store-imgsec {
    margin-bottom: 10px;
}  
p.head-distext {
    font-size: 11px;
    color: #666666;
    font-weight: bold;  
}    
.serch-form label {
    color: #2db4e3;
    font-size: 12px;
    font-weight: 600;
}  
hr.custom-hr {
    margin-bottom: 30px;
    margin-top:0px;
}  

.storelast-text p {
    text-align: center;
    font-size: 16px;  
    /*font-family: Aileron-Regular;*/
    margin-top: 30px;    
}  
footer.footer p {
    background-color: #fff;
    padding: 10px;
    text-align: center; 
    margin-bottom: 0px;  
    font-size: 16px;  
}  
.serch-form input[type="text"] {
    border: 1px solid #ccc;  
    border-radius: 5px;  
    height: 26px;  
    font-size: 13px;  
    color:#666666;
    background-image: url(../../images/myStores/search.png);
    background-repeat: no-repeat;
    background-size: 11% 55%;
    background-position: 5%;
    padding: 0px 10px;  
}   
 form.example.serch-form {
    margin-bottom: 0px;  
    margin-top: 20px;
}   
.storemiddle-sec {
    background-color: #eef2f6;
    padding: 15px;
}
.add-store-imgsec {  
    margin-bottom: 10px;
    padding: 0px 50px;
}
.right_menu {margin-bottom: 0px;}  


/* Hide the browser's default checkbox */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}  

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0px;
    left: 0;  
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #00a0da;  
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #00a0da;
    border: 1px solid #00a0da;
    border-radius: 5px;
}  

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-radio .checkmark:after {
    left: 5px;
    top: 2px;  
    width: 5px;
    height: 10px;  
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}  
.regst-input input {
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 40px;  
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;
    color: #565656;
    padding: 0px 10px;  
}    
.regst-input input:focus {
    border-bottom: 1px solid #04a5dc;
    border-top: 1px solid #04a5dc;  
    border-left: 1px solid #04a5dc;
    border-right: 1px solid #04a5dc;  
    color: #04a5dc;    
    outline: none;    
}  
input[type="checkbox"] {
    width: auto;
} 

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */  
    position: fixed; /* Stay in place */
    /*z-index: 1;  Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;  
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 650px;  
    position: relative;
}

/* The Close Button */
.close1 {
    font-size: 16px;
    font-weight: bold;
    background-color: #f4f4f4;
    border: 1px solid #808080;
    padding: 7px 15px;
    border-radius: 5px;  
}  

.close1:hover,  
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}    

.mod-header {
    background-color: #ebeaea;
}  
.mod-header p {
    margin-bottom: 0px;
    text-align: left;
    padding: 10px 20px;  
    font-size: 17px;
    font-weight: 600;
}  
.mod-middle {
    padding: 25px 25px 0px 25px;  
}
.mod-middle ol {
    padding: 0px;
    margin-bottom: 0px;  
}  
.mod-middle ol h4 {
    color: #04a5dc;
    font-size: 15px;
    font-weight: 700;
}  
.list-type {
    padding: 15px 40px;
}    
.list-type p {
    font-size: 13px;  
    font-weight: 500;
    color: #666666;
    margin-bottom: 0px;  
}
.list-type form {
    font-size: 13px;
    font-weight: 600;  
}  
.list-type form input[type="text"] {
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
    margin-left: 10px;
}
.list-type label {  
    display: inline-block;
    /* margin-bottom: .5rem; */
    margin-left: 25px;
    font-size: 13px;
    font-weight: 600;
    vertical-align: middle;
}
.mod-footer {
    padding: 10px 24px;
    text-align: right;  
}
.Connect-btn {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 14px;
    /*font-family: Aileron-bold;*/
    color: #fff;  
    display: inline-block;
    text-align: center;
    text-decoration: none;  
}
hr.footer-hrmod {
    margin: 0px;
}  
img.ebay-logo {
    width: 100px;
    float: right;
    margin-top: -32px;  
}  

.list-type h6 {
    font-size: 13px;
}  
p.amezon-second {
    margin-bottom: 5px;
}  
button.amezon-btn {
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
    margin-left: 10px;
    color: #04a5dc;
    font-weight: 600;
    cursor: pointer;
}
.list-type select {
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
    margin-left: 10px;
    width: 33%;
}  
button.close {
    background-color: #f5f5f5;
    border: 1px solid #808080;
    padding: 8px 15px;  
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}  
strong.bold-text {
    color: #000;  
}
.list-type li {
    font-size: 13px;
    font-weight: 500;
    color: #666666;
}  

/**********ordser********************/
  
.order-samebtn {
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .25rem;
    display: inline-block;
    padding: 6px 10px;
    color: #666666;
    font-size: 13px;
    font-weight: 500;
}
.order-samebtn:hover {  
    color: #666666;
    text-decoration: none;     
}
.example {display: inline-block;}  
.example input[type=text] {
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    float: left;
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    width: 135px;
}  

.example button {
    /*float: left;*/
    /* width: 20%; */  
    padding: 10px;
    background: #0099cc;
    color: white;
    font-size: 10px;
    border: 1px solid #0099cc;
    border-left: none;
    cursor: pointer;
    height: 30px;
    border-radius: 0px 5px 5px 0px;
}  


.example button:hover {
    background: #0b7dda;
}

.example::after {  
    content: "";
    clear: both;
    display: table;
}       
select.order-slectbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    color: #07a8de;
    font-size: 14px;  
    background-image: url(../../images/myStores/angle-arrow-down.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 100%;
    width: 100%;  
}  
select.list-slectbox {
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .25rem;
    display: inline-block;
    padding: 6px 8px;
    color: #666666;
    font-size: 13px;
    font-weight: 500;
}  
.store-listing-table .col-sm-1 {
    padding: 0px;
}  
.listtxt-1 {
    font-size: 12px;  
}  
.listext-1 {  
    font-size: 12px;
    color: #666666;
}
.store-listing-table .storlistbody {
    background-color: #fff!important;
    padding: 10px!important;
}  
.store-listing-table {
    padding: 0px 50px 30px 30px;
    background-color: #eef2f6;
}   
select.list-slectboxs {  
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .25rem;
    display: inline-block;
    padding: 6px 8px;
    color: #666666;
    font-size: 13px;
    font-weight: 500;
    width: 100%;  
}
.list-date {
    color: #07a8de;  
    font-size: 14px;
}
.list-date input.first-date {       
    width: 70%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .25rem;
    display: inline-block;
    color: #666666;
    font-size: 13px;  
    font-weight: 500;
    height:30px;
    background-image: url(../../images/myStores/calendar.png);
    background-repeat: no-repeat;
    background-position: 90%;  
    background-size: 14%;
    text-transform: uppercase;
}
.list-date input.second-date {           
    width: 80%;  
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: .25rem;
    display: inline-block;
    color: #666666;
    font-size: 13px;  
    font-weight: 500;
    height:30px;
    background-image: url(../../images/myStores/calendar.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 14%; 
    text-transform: uppercase;     
}
.add-list-slet .paadd {  
    padding: 0px!important;
}
.add-text-sort{
color: #07a8de;
    font-size: 14px;
}  
.paggination-text {
    margin-top: 20px;
    text-align: right!important;
}    
.paggination-text .pagination {  
    justify-content: flex-end;
}
/*****************packages************************************/
.package-back {
    background-color: #eef2f6;
}  
.package-head h1 {  
    font-size: 16px;  
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
}
.package-head {    
    padding: 20px 50px 0px 30px;
}  
.packages-slectbox {  
    color: #04a5dc;  
    background-color: transparent;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}
.package-table {
    padding: 20px 50px 20px 30px;
}  
.package-table-head {
    background-color: #e4e4e4!important;
    font-size: 14px;
    font-weight: 600;
    padding: 10px!important;
}  
.package-table-head {
    background-color: #e4e4e4!important;
    font-size: 14px;
    font-weight: 600;
    padding: 10px!important;
    margin: 0px 0px;
}  
.package-table-body {
    background-color: #fff!important;
    padding: 10px;
    margin: 0px 0px;
    border-bottom: 1px solid #e4e4e4;
}  
.package-list-body {
    font-size: 14px;
    color: #666666;
}
.package-table-sidebar {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 20px #ccc;
}    
.package-table-sidebar p {
    font-size: 13px;
    font-weight: 500;  
    color: #666666;
}  
.package-middle-footer {margin:30px 0px;}
.package-middle-footer h4 {
    font-size: 17px;
    font-weight: 600;  
}
.package-middle-footer p {  
    font-size: 15px;
    font-weight: 400;  
    color:#666666;
}
.Connect-btn {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 14px;
    /* font-family: Aileron-bold; */
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}  
.add_list_footer {
    padding: 15px 30px;
}  
.add_list_footer a {
    font-size: 14px;
    color: #2db4e3;
    text-decoration: none;
}  
.add_list_footer a:hover {  
    font-size: 14px;
    color: #2db4e3;
    text-decoration: none;
}  
.Binary_design {
    text-align: right;
    display: block;
}    
.Connect-btn:hover {color:#fff;text-decoration: none;}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .1em; left: .1em;  
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

/*********numer-filed-quantity*************/    

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.package-inputfild .row {margin-bottom: 10px;}
.quantity input {
    width: 76px;
    height: 32px;    
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    border: 1px solid #eee;
    background-color: #ebeaea;
    border-radius: 5px;
}  

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 32px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #ffffff;
    background-color: #0099cc;
    color: #fff;
    border-radius: 0px 2px 0px 0px;
    /*padding: 4px 0px;*/
}  

.quantity-button.quantity-down {
    position: absolute;
    bottom: 0px;  
    height: 50%;  
    background-color: #0099cc;  
    color: #fff;
    border-radius: 0px 0px 2px 0px;     
    /*padding: 4px 0px; */    
}
p.pos-inch {
    position: absolute;
    top: 4px;
    right: -32px;
}  
/**********package-model*************/  
.package-content {      
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
}
.package-list-head {  
    background-color: #ebeaea;   
}
.package-list-head p {  
    margin-bottom: 0px;
    text-align: left;  
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;  
    text-transform: uppercase;
}  
  
.packagelist-middle {    
    padding: 30px;  
}
  
.packagelist-middle p {  
    font-size: 13px;  
    font-weight: bold;
    color:#666666;  
}  
.packagelist-middle input[type="text"] {  
    background-color: #ffffff;
    border: 1px solid #ccc;  
    height: 35px;  
    border-radius: 2px;  
    width: 100%;
    color: #828282;
    font-size: 13px;  
    padding: 0px 10px;
    box-shadow: 0px 0px 10px #ccc;    
}  
   
     

a:hover {
    text-decoration: none;
    color:#fff;
}
.orderlist-middlefooter .middlefooter-padd label {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}  
.orderlist-middle .oredr-border:before {    
    content: "";
    border-right: 1px solid #eee;  
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.package-inputfild {
    width: 400px;
    margin: 0 auto;  
}      
/*****************printshipping****************************/
.storemiddle-sec {
    background-color: #eef2f6;
    padding: 15px;
    min-height: 80vh;
}  
.addstore-list-text h1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}  
.package-label-box {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #ccc;
    margin:10px; 
}
.package-header span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #cccccc;
}  
.package-body p {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
}  
.package-header {
    margin-bottom: 15px;
}  
.yellow-btn {
    background-color: #eb9423;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    display: inline-block;    
    border-radius: 3px;
    margin-right: 2px;
}  
.yellow-btn:hover { 
    color: #fff;
    text-decoration: none;
}
.green-btn {  
    background-color: #79d27c;  
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;  
    margin-right: 2px;
}  
.green-btn:hover { 
    color: #fff;
    text-decoration: none;
}
.blue-btn {
    background-color: #6b57e0;  
    color: #fff;
    font-size: 12px;  
    font-weight: 700;
    padding: 5px;    
    display: inline-block;
    border-radius: 3px;
    margin-right: 2px;  
}     
.blue-btn:hover {  
    color: #fff;
    text-decoration: none;  
} 
footer.add_list_footer {
    padding: 20px 30px 0px;
}  
footer.add_list_footer .Binary_design-p {
    text-align: right;
}
footer.add_list_footer p {
    font-size: 14px;
} 
footer.add_list_footer .Binary_design-p a {
    color:#0099cc;
    text-decoration: none; 
} 
footer.add_list_footer .Binary_design-p a:hover {  
    color:#0099cc;
    text-decoration: none; 
} 
.products-list-sec {
    margin-bottom: 30px;
    margin-top: 20px;
} 
p.prdt-location span {   
    width: calc(100% - 10px);
    display: inline-block;
    padding-left: 5px;
}  

.house-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;  
    width: 80%;
    max-width: 500px;  
    position: relative;  
}
.house-header {
    background-color: #04a5dc;
}  
.house-header p {  
    margin-bottom: 0px;
    text-align: left;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}  
button.close-sign {
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}  
.house-middle {
    width: 75%;  
    margin: 15px auto;
}  
.house-middle p {
    font-size: 15px;
    font-weight: 700;
    color: #666666;
}  
.house-middle span {
    color: #04a5dc;
    font-size: 15px;
    font-weight: 700;
}
/*************products********************/
h6.prdt-mainhd {
    color: #0099cc;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;    
}
span.prdt-headtext {
    font-size: 13px;
    font-weight: 600;
    color: #000;  
    padding-right: 6px;  
}
p.prdt-location {
    font-size: 13px;
    color: #666666;
    margin-bottom: 0px;
    line-height: 14px;
    display: flex;
    flex-wrap: wrap;  
}  
span.prdt-nortext {  
    font-size: 13px;
    color: #666666;
    font-weight: 300;
}  
.ptdt-img {  
    background-image: url("../../images/nike-shoes.png");
    background-size: contain;
    background-position: center;
    padding: 0px 10px!important;
}
.ptdt-img-two {  
    background-image: url("../../images/adidas-kampung.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}  
.ptdt-img-ballet {      
    background-image: url("../../images/ballet-shoe.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;  
}  
.ptdt-img-athletic {        
    background-image: url("../../images/athletic-shoes.png");  
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;  
}  
.ptdt-img-chuck {          
    background-image: url("../../images/chuck-taylor.png");  
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;    
}  
.ptdt-img-sneakers {            
    background-image: url("../../images/sneakers.png");  
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.ptdt-img-basketball {              
    background-image: url("../../images/basketball-shoes.png");    
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.ptdt-img-knee {                 
    background-image: url("../../images/Knee-high-boots.png");    
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.ptdt-img-combat {                   
    background-image: url("../../images/combat-boots.png");    
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.ptdt-img-solly {                       
    background-image: url("../../images/solly-Alison-Jean.png");      
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
} 
.ptdt-img-timberland {                         
    background-image: url("../../images/timberland-shirt.png");        
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.ptdt-img-court {                           
    background-image: url("../../images/court-shoes.png");        
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.ptdt-img-mary {                             
    background-image: url("../../images/Mary-Jane.png");          
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.ptdt-img-platform {                               
    background-image: url("../../images/Platform-heels.png");          
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
} 
.ptdt-img-almond-toe {                                 
    background-image: url("../../images/almond-toe.png");          
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;      
} 
        
.prdt-back-gd {  
    padding: 10px 10px;  
    background-color: #fff;   
    border-radius: 5px;
    box-shadow: 0px 0px 20px #ccc; 
    margin:0 -10px; 
}  
.single-prdt-sec {
    padding: 0px 30px;
    margin-bottom: 15px;
}  
.storemiddle-sec h1 {      
    font-size: 16px;  
    /* font-family: Aileron-Bold; */
    text-transform: uppercase;
    font-weight: 600;
}
.products-ellipsis {  
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 0;
    color: #000;
    font-size: 20px;
}
footer.add_list_footer {
    padding: 20px 30px 0px;
}  
footer.add_list_footer .Binary_design-p {
    text-align: right;
}
footer.add_list_footer p {
    font-size: 14px;
} 
footer.add_list_footer .Binary_design-p a {
    color:#0099cc;
    text-decoration: none; 
} 
footer.add_list_footer .Binary_design-p a:hover {  
    color:#0099cc;
    text-decoration: none; 
} 
.products-list-sec {
    margin-bottom: 30px;
    margin-top: 20px;
} 
p.prdt-location span {   
    width: calc(100% - 10px);
    display: inline-block;
    padding-left: 5px;
}
/**********prodect-model**********/
.add-prdt-header {
    background-color: #04a5dc;
}
.add-prdt-header p {  
    margin-bottom: 0px;  
    text-align: left;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    color:#fff;
}
button.close-sign {
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}  
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
    /* border: 2px solid gray; */
    color: #04a5dc;  
    background-color: transparent;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}  
  
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.prdt-upload-img {
    max-width: 80px;  
    width: 80px;
    box-shadow: 0px 0px 20px #ccc;
    border: 1px solid #ccc;
    max-height: 80px;
    margin-bottom: 10px;
}    
.add-prdt-middle {
    padding: 20px 0px;
}
.add-prdt-middle ul {
    padding: 0px;
    margin: 0 auto;
    max-width: 400px;
}    
.add-prdt-middle ul li {
    list-style: none; 
    padding: 2px 0px;     
}
.add-prdt-middle ul li p {  
    font-size: 15px;  
    font-weight: bold;  
}
.add-prdt-middle input[type="text"] {
    background-color: #f4f4f4;  
    border: none;
    width: 100%;
    color: #828282;
    font-size: 13px;  
    height:30px;    
    padding:0px 10px;  
}  
.house-phonenum {  
    font-size: 13px;
    color: #666666;
    margin-bottom: 0px;
}    
/*****************verifyphonenumber*************************/
@font-face {
    font-family: Aileron-UltraLightItalic;  
    src: url("../../fonts/Aileron-UltraLightItalic.otf");  
}
@font-face {
    font-family: Aileron-UltraLight;  
    src: url("../../fonts/Aileron-UltraLight.otf");  
}
@font-face {
    font-family: Aileron-ThinItalic;
    src: url("../../fonts/Aileron-ThinItalic.otf");
}
@font-face {  
    font-family: Aileron-Thin;
    src: url("../../fonts/Aileron-Thin.otf");
}

@font-face {
    font-family: Aileron-SemiBoldItalic;  
    src: url("../../fonts/Aileron-SemiBoldItalic.otf");    
}
@font-face {
    font-family: Aileron-SemiBold;  
    src: url("../../fonts/Aileron-SemiBold.otf");  
}
@font-face {
    font-family: Aileron-Regular;  
    src: url("../../fonts/Aileron-Regular.otf");
}
@font-face {  
    font-family: Aileron-LightItalic;  
    src: url("../../fonts/Aileron-LightItalic.otf");
}
@font-face {  
    font-family: Aileron-Light;    
    src: url("../../fonts/Aileron-Light.otf");
}
@font-face {
    font-family: Aileron-Italic;    
    src: url("../../fonts/Aileron-Italic.otf");  
}
@font-face {
    font-family: Aileron-HeavyItalic;    
    src: url("../../fonts/Aileron-HeavyItalic.otf");
}
@font-face {  
    font-family: Aileron-Heavy;    
    src: url("../../fonts/Aileron-Heavy.otf");    
}
@font-face {  
    font-family: Aileron-BoldItalic;    
    src: url("../../fonts/Aileron-BoldItalic.otf");  
}  
@font-face {
    font-family: Aileron-Bold;      
    src: url("../../fonts/Aileron-Bold.otf");  
}
@font-face {
    font-family: Aileron-BlackItalic; 
    src: url("../../fonts/Aileron-BlackItalic.otf");
}
@font-face {  
    font-family: Aileron-Black;      
    src: url("../../fonts/Aileron-Black.otf");      
}  
.padd-normal {padding:0px 5px;}
/* The container-radio */  

  
.container-radio {
    display: block;
    position: relative;
    padding-left: 27px;  
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    font-family: Aileron-regular;
}  

/* Hide the browser's default checkbox */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;  
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #00a0da;  
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #00a0da;
    border: 1px solid #00a0da;
    border-radius: 5px;
}  

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-radio .checkmark:after {
    left: 5px;
    top: 2px;  
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}  
.regst-input input {
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 40px;  
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;  
    color: #565656;
    padding: 0px 10px;
}  
.regst-input input:focus {
    border-bottom: 1px solid #04a5dc;
    border-top: 1px solid #04a5dc;
    border-left: 1px solid #04a5dc;
    border-right: 1px solid #04a5dc;  
    color: #04a5dc;    
    outline: none;  
}    
input[type="checkbox"] {
    width: auto;
} 
.mar-bot {
    margin-bottom: 10px;  
}
.regst-input h2 {
    font-size: 24px;    
    text-transform: uppercase;
    color: #565656;
    font-weight: bold;
    text-align: center;
}
/*******registerpage**********/
.regst-img {
    background-image: url("../../images/signup_img.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:0px 30px;    
}
.regst-img h6 {
    font-size: 35px;  
    font-weight: 600;  
    color: #fff;
    font-family: Aileron-Heavy;
}
.regst-img h1 {  
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    font-family: Aileron-Heavy;
    margin-top:-20px;  
}  
.regst-img h5 {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    font-family: Aileron-Regular;
    line-height: 24px;
}  
.regst-img p {
    font-size: 21px;  
    color: #fff;
    text-transform: uppercase;
    text-align: right;  
    font-weight: 600;
    font-family: Aileron-Bold;  
    margin-top:15px;
}
.regst-input {  
    padding: 70px 60px 0px 60px;
}  
.regst-input h2:after {
    border-bottom: 1px solid #ccc;
    content: "";
    display: block;
    width: 80%;
    margin: 5px auto 20px auto;
}
.graydent-color {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);      
    padding: 7px 100px;
    border-radius: 5px;
    font-size: 18px;
    font-family: Aileron-bold;
    color: #fff;
    display: inline-block;
    text-align: center; 
    text-decoration: none;  
}  
.graydent-color:hover {
    text-decoration: none; 
    color:#fff; 
}
img.vip-logo {
    position: absolute;
    top:20px;  
    bottom: 20px;
}

a.reset-pass {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    font-family: Aileron-bold;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}  
input.email-one {
    background-image: url(../../images/envelope.svg);
    background-repeat: no-repeat;  
    background-size: 6% 60%;
    background-position: 12px;  
    padding: 0px 40px;
}  

.regst-img.cus-height {
    height: 100vh;
}  
form.login-div {
    max-width: 250px;
    margin: 0 auto;
}  
a.for-pass {
    font-size: 16px;
    font-weight: 400;
    font-family: Aileron-Regular;
    float: right;
    margin-top: -34px;
}  
.account-sign-up-for {
    font-family: Aileron-Regular;
    font-size: 17px;
    display: block;
    text-align: left;  
    margin-top: 10px;
    color: #202020;
    text-decoration: none;
}  
@media only screen and (max-width: 1024px) { 
.regst-img h1 {  
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    font-family: Aileron-Heavy;
    margin-top: -20px;
}
}

@media only screen and (max-width: 768px) {
.regst-img {
    max-width: 100%;
    flex: 100%;
}  
img.vip-logo {
    position: relative;
    margin: 20px 0px;
}  
.regst-input {
    flex: 100%;
    max-width: 100%;
    padding: 40px;    
}
.regst-img.cus-height {
    height: auto;  
}
}
@media only screen and (max-width: 570px) {    
.padd-normal {  
    margin-bottom: 10px;
}
.mar-bot {
    margin-bottom: 0px;  
}
}  
@media only screen and (max-width: 320px) {   
.for-pass {    
    font-size: 16px;
    font-weight: 400;
    font-family: Aileron-Regular;  
    float: left;
    margin-top: -5px!important;
}  
}  
.varifaction-code {  
    color: #666666; 
    text-align: center;
    font-size: 12px;
    }      
    .Resend-sms {  
    color: #00a0da;
    padding: 10px 0px;
    display: inline-block;  
    }  
    .vari-code {
        border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 40px;  
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;
    color: #565656;
    }

/****************warehouselist**************************/    
h6.prdt-mainhd {
    color: #0099cc;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;    
}
span.prdt-headtext {
    font-size: 13px;
    font-weight: 600;
    color: #000;  
    padding-right: 6px;  
}
p.prdt-location {
    font-size: 13px;
    color: #666666;
    margin-bottom: 0px;
    line-height: 14px;
    display: flex;
    flex-wrap: wrap;  
}  
span.prdt-nortext {  
    font-size: 13px;
    color: #666666;
    font-weight: 300;
}  
.house-img {  
    background-image: url("../../images/house-1.png");
    background-size: contain;
    background-position: center;
    padding: 0px 10px!important;
}
.house-img-two {  
    background-image: url("../../images/house-2.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}  
.house-img-ballet {      
    background-image: url("../../images/house-3.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;  
}  
.house-img-athletic {        
    background-image: url("../../images/house-4.png");  
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;  
}  
.house-img-chuck {          
    background-image: url("../../images/house-5.png");  
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-sneakers {            
    background-image: url("../../images/house-6.png");  
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-basketball {              
    background-image: url("../../images/house-7.png");    
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-knee {                 
    background-image: url("../../images/house-8.png");    
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-combat {                   
    background-image: url("../../images/house-11.png");    
    background-size: 100% 100%;  
    background-position: center;  
    background-repeat: no-repeat;    
}  
.house-img-solly {                       
    background-image: url("../../images/house-10.png");      
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
} 
.house-img-timberland {                         
    background-image: url("../../images/house-11.png");        
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-court {                           
    background-image: url("../../images/house-12.png");        
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-mary {                             
    background-image: url("../../images/house-13.png");          
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
}  
.house-img-platform {                               
    background-image: url("../../images/house-14.png");          
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;    
} 
.house-img-almond-toe {                                 
    background-image: url("../../images/house-1.png");            
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;      
} 
        
.prdt-back-gd {    
    padding: 10px 10px;  
    background-color: #fff;   
    border-radius: 5px;
    box-shadow: 0px 0px 20px #ccc; 
    margin:0 -10px; 
}  
.single-prdt-sec {
    padding: 0px 30px;
    margin-bottom: 15px;
}  
.storemiddle-sec h1 {      
    font-size: 16px;  
    /* font-family: Aileron-Bold; */
    text-transform: uppercase;
    font-weight: 600;
}
.products-ellipsis {  
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 0;
    color: #000;
    font-size: 20px;
}
footer.add_list_footer {
    padding: 20px 30px 0px;
}  
footer.add_list_footer .Binary_design-p {
    text-align: right;
}
footer.add_list_footer p {
    font-size: 14px;
} 
footer.add_list_footer .Binary_design-p a {
    color:#0099cc;
    text-decoration: none; 
} 
footer.add_list_footer .Binary_design-p a:hover {  
    color:#0099cc;
    text-decoration: none; 
} 
.products-list-sec {
    margin-bottom: 30px;
    margin-top: 20px;
} 
p.prdt-location span {   
    width: calc(100% - 10px);
    display: inline-block;
    padding-left: 5px;
}
/**********prodect-model**********/
.add-prdt-header {
    background-color: #04a5dc;
}
.add-prdt-header p {  
    margin-bottom: 0px;  
    text-align: left;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    color:#fff;
}
button.close-sign {
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}  
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
    /* border: 2px solid gray; */
    color: #04a5dc;  
    background-color: transparent;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}  
  
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.prdt-upload-img {
    max-width: 80px;  
    width: 80px;
    box-shadow: 0px 0px 20px #ccc;
    border: 1px solid #ccc;
    max-height: 80px;
    margin-bottom: 10px;
}    
.add-prdt-middle {
    padding: 20px 0px;
}
.add-prdt-middle ul {
    padding: 0px;
    margin: 0 auto;
    max-width: 400px;
}    
.add-prdt-middle ul li {
    list-style: none; 
    padding: 2px 0px;     
}
.add-prdt-middle ul li p {  
    font-size: 15px;  
    font-weight: bold;  
}
.add-prdt-middle input[type="text"] {
    background-color: #f4f4f4;  
    border: none;
    width: 100%;
    color: #828282;
    font-size: 13px;  
    height:30px;    
    padding:0px 10px;  
}  
.house-phonenum {  
    font-size: 13px;
    color: #666666;
    margin-bottom: 0px;
}    