.order-summary-back {
    background-color: #eef2f6;
} 
.order-summary {
    padding: 10px 25px 0px 25px;
}  
.order-summary h1 {
    font-size: 20px;
    font-family: Aileron-Bold;
    text-transform: uppercase;
    font-weight: 600;
}  
.order-sumary-body {
    background-color: #fff;
    margin: 10px 25px 0px 25px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}  
.order-sumary-body h6 {
    color: #08a3dd;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}  
.order-sumary-body h3 {      
    color: #666666;  
    text-transform: capitalize;   
    font-size: 14px;
    font-weight: bold;  
}
.order-sumary-body h5 {  
    font-size: 14px;
    color: #08a3dd;  
    font-weight: bold;  
}
.order-sumary-body h4 {
    font-size: 13px;
    color: #666666;  
    font-weight: bold; 
    margin-bottom: 30px;   
}
.order-sumary-body .oredr-email {
    color: #999999;
    font-size: 14px;
    display: block;
}

.add_list_footer {
    padding: 15px 30px;
}  
.add_list_footer a {
    font-size: 14px;
    color: #2db4e3;
    text-decoration: none;
}
.Binary_design {
    text-align: right;
    display: block;
}

.order-sumary-body-footer {
    background-color: #fff;
    margin: 20px 50px 0px 30px;
    padding: 30px;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    box-shadow: 0px 0px 10px #ccc; 
}  
.order-sumary-body-footer .order-sumary-body-width {
    width: 12.5%;
    float: left;
}   
.order-sumary-body-footer .order-sumary-body-width h6 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;  
}    
.order-sumary-body-footer .order-sumary-body-width p {  
    font-size: 12px;
    color: #333333;
    font-weight: bold;
}
.order-sumary-body-btn {
	padding: 20px 50px 30px 30px;  
}
/*.Connect-btn {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Aileron-bold;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}*/
/*select.order-slectbox {
    width: 88%;
    border: #ebeaea;
    height: 25px;
    background-color: #ebeaea;
    color: #999999;
    font-size: 10px;
}   */ 
ul.step-bar {
    padding: 50px 0px;  
}
ul.step-bar li {
    display: inline-block;
    width: 20%;
    float: left;
    position: relative;    
}   
.order-slectbox.singl-slect {
    width: 75%;
    outline: none;
}   
ul.step-bar li p {
    border: 5px solid #ccc;
    width: 30px;
    height: 30px;  
    border-radius: 50%; 
    margin-bottom: 0px;
}
ul.step-bar li p:after {
    border: 5px solid #ccc;
    content: "";
    position: absolute;
    width: 84%;      
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
li.step-one p {
    border: 5px solid #4cbfe6!important;  
    z-index: 9;
}  
li.step-one p:after {    
    border: 5px solid #4cbfe6!important;    
    z-index: 1;
}  
li.step-two p {
    border: 5px solid #4cbfe6!important;  
    z-index: 9;
}  
li.step-two p:after {    
    border: 5px solid #4cbfe6!important;    
    z-index: 1;
} 
li.step-three p {
    border: 5px solid #4cbfe6!important;    
    z-index: 9;  
}  
li.step-three p:after {    
    border: 5px solid #4cbfe6!important;    
    z-index: 1;
} 

/*ul.step-bar li p:hover:before {
    width: 30px!important;
    height: 30px;
    border: 5px solid red;
    content: "";
    position: absolute;
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    left: 0px;
    z-index: 99;
}  
ul.step-bar li p i {   
    display: none;
}
ul.step-bar li p:hover:before i {
   display: block;  
}  
ul.step-bar li p:hover:after {}  
*/
.ipsum-ins {
    margin: 0px;
    font-size: 12px;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
input:checked + .slider.round:before {
    background: #aabdd1;
}
.slider.round:before {
  border-radius: 50%;
}

.sorting-list p {
    color: #666666;
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
    font-family:"Aileron-Regular";
}
.house-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}
.house-header {
    background-color: #04a5dc;
}
.house-header p {
    margin-bottom: 0px;
    text-align: left;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}
button.close-sign {
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}
.house-middle {
    width: 75%;
    margin: 15px auto;
}
.house-middle p {
    font-size: 15px;
    font-weight: 700;
    color: #666666;
}
.house-middle span {
    color: #04a5dc;
    font-size: 15px;
    font-weight: 700;
}
