.resetpass {
    width: 60%;
    float: left;
    padding: 60px;
    border-radius: 5px;
    margin: 0 auto;
}
.resetpass input {
    border: 1px solid #808080;
    background-color: transparent;
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 40px;
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;
    color: #565656;
    padding: 0px 35px;
    background-image: url(/static/media/padlock.e6b94df5.svg);
    background-repeat: no-repeat;
    background-size: 3% 100%;
    background-position: 10px;
}
input:focus {border: 1px solid #2db4e3;outline: none;color: #2db4e3 !important;}
input:active { color: #2db4e3 !important;}
.resetpass input.first-one {
    background-image: url(/static/media/profile.050abf73.svg);
    background-repeat: no-repeat;
    background-size: 3% 60%;
    background-position: 12px;
    padding: 0px 40px;
}
.resetpass input.email-one {
    background-image: url(/static/media/envelope.6e7c0640.svg);
    background-repeat: no-repeat;
    background-size: 3% 100%;
    background-position: 11px;
    padding: 0px 40px;
}
.resetleft {
    background-color: #fff;
    box-shadow: 0px 0px #ccc;
}
.resetleft h2 {
    /*color:#fff;*/
}
.resetpass.resetright {
	background-color: #ffffff;
	box-shadow: 0px 0px 5px #ccc;
}
.renewpass {
    background-image: -webkit-linear-gradient(bottom left, #04a5dc, #8471f4);
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    border: none;
    padding: 7px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-family: Aileron-bold;
    color: #fff; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: auto;
    cursor: pointer;
    float: right;
    box-shadow: 0px 0px 3px #fff;
}
.renewpass:hover {
    color: #fff;
}
.renewpass:active {
    color: #fff;
}
.renewpass:focus {
    color: #fff;
}
.chancol {
    /*color: #fff;*/
}

/*.resetleft input::placeholder { 
  color: #fff;
  opacity: 1; 
}

.resetleft input:-ms-input-placeholder {
  color: #fff;
}

.resetleft input::-ms-input-placeholder {
  color: #fff;
}
.resetleft .container-radio input ~ .checkmark {
    background-color: #fff;
}*/
.repassmain {margin-top: 45px;display: flex;flex-wrap: wrap;/*box-shadow: 0px 0px 20px #ccc;border-radius: 5px;*/}
/*.resetleft input {
    border: 1px solid #808080;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    border-top: 2px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 40px;
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;
    color: #565656;
    padding: 0px 35px;
}*/
.shiconnect {
    margin: 20px 0px 0px 0px;
    padding: 40px;
    background-color: #ffffff;
}
.renew-backimg {
    background-image: url(../../images/right1.jpg);
    background-size: 100% 100%;
    background-position: center;
    width: 50%;
    float: left;
    padding: 20px;
}
.renewtab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0px 0px 10px #cccccc;
    
}
.mt-2 {margin-top:20px !important;}