.sukhbir{
    color: red;
}

.padd-normal {padding:0px 5px;}
/* The container-radio */  

  
.container-radio {
    display: block;
    position: relative;
    padding-left: 27px;  
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    font-family: Aileron-regular;
}  

/* Hide the browser's default checkbox */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;  
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #00a0da;  
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
/*.container-radio input:checked ~ .checkmark {
    background-color: #00a0da;
    border: 1px solid #00a0da;
    border-radius: 5px;
}  */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-radio .checkmark:after {
    left: 5px;
    top: 2px;  
    width: 5px;
    height: 10px;  
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}  
/*.regst-input input {
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 40px;  
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    font-family: Aileron-Bold;
    color: #565656;
    padding: 0px 40px !important;  
}  
.regst-input input:focus {
    border-bottom: 1px solid #04a5dc;
    border-top: 1px solid #04a5dc;  
    border-left: 1px solid #04a5dc;
    border-right: 1px solid #04a5dc;  
    color: #04a5dc;    
    outline: none;  
}  */
input[type="checkbox"] {
    width: auto;
} 
.mar-bot {
    margin-bottom: 10px;  
}
/*.regst-input h2 {
    font-size: 24px;    
    text-transform: uppercase;
    color: #565656;
    font-weight: bold;
    text-align: center;
}*/
/*******registerpage**********/
.regst-img {
    background-image: url("../../images/signup_img.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;  
    padding:0px 30px;  
}
.regst-img h6 {
    font-size: 35px;  
    font-weight: 600;  
    color: #fff;
    font-family: Aileron-Heavy;
}
.regst-img h1 {  
    font-size: 60px;
    color: #fff;
    font-weight: 600;  
    font-family: Aileron-Heavy;
    margin-top:-20px;
}  
.regst-img h5 {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    font-family: Aileron-Regular;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;
}  
.regst-img p {
    font-size: 21px;  
    color: #fff;
    text-transform: uppercase;
    text-align: right;  
    font-weight: 600;
    font-family: Aileron-Bold;  
    margin-top:15px;
}
.regst-input {
    padding: 70px 60px 0px 60px;  
}  
/*.regst-input h2:after {
    border-bottom: 1px solid #ccc;
    content: "";
    display: block;
    width: 80%;
    margin: 5px auto 20px auto;
}*/

.graydent-color:hover {
    text-decoration: none; 
    color:#fff; 
}
img.vip-logo {
    position: absolute;
    top:20px;  
    bottom: 20px;
}
/*input.email-one {
    background-image: url(../../images/envelope.svg);
    background-repeat: no-repeat;
    background-size: 6% 60%;    
    background-position: 12px;  
    padding: 0px 40px;
}*/

input.pass-two {    
    background-image: url(../../images/padlock.svg);
    background-repeat: no-repeat;
    background-size: 6% 60%;  
    background-position: 12px;
    padding: 0px 40px;  
}

form.login-div {
    max-width: 250px;
    margin: 0 auto;  
}
/*a.for-pass {
    font-size: 13px;
    font-weight: 400;
    font-family: Aileron-Regular;
    float: right;
    margin-top: -34px; 
    color: #00a0da;   
}  */
a.for-pass:hover { 
    color: #00a0da;
    text-decoration: none;
}
.account-sign-up {
    font-family: Aileron-Regular;
    font-size: 17px;
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #202020;
    text-decoration: none;
}  
.account-sign-up:hover {
    color: #00a0da;    
    text-decoration: none;  
}
@media only screen and (max-width: 1024px) { 
.regst-img h1 {  
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    font-family: Aileron-Heavy;
    margin-top: -20px;
}
.register-page .container {max-width:100%;}
}
@media only screen and (max-width: 991px) { 
.regst-img h6 {font-size: 30px;}
.regst-img h1 {
    font-size: 40px;
    margin-top: -10px;
}
img.vip-logo {top: 0px;}
.regst-input {
    padding: 70px 20px 0px 20px;
}
}
@media only screen and (max-width: 768px) {
.regst-img {
    max-width: 100%;
    flex: 100%;
}  
img.vip-logo {
    position: relative;
    margin: 20px 0px;
}  
.regst-input {
    flex: 100%;
    max-width: 100%;
    padding: 40px;    
}
.regst-img.cus-height {
    height: auto;  
}
}
@media only screen and (max-width: 570px) {    
.padd-normal {  
    margin-bottom: 10px;
}
.mar-bot {
    margin-bottom: 0px;  
}
.regst-input {
    padding: 40px 10px!important;
}
}  
@media only screen and (max-width: 320px) {   
.for-pass {    
    font-size: 16px;
    font-weight: 400;
    font-family: Aileron-Regular;  
    float: left;
    margin-top: -5px!important;
}  
}
a.reset-pass {
    background-color: red;
    background-image: linear-gradient(to top right, #04a5dc, #8471f4);
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    font-family: Aileron-bold;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}