.Inventory-head {
    font-size: 20px;
    font-family: Aileron-Bold;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px;
    background: #2db4e3;
    color: #fff;
    padding: 18px;
}
.invtryset h4 {
    font-size: 15px;
    font-family: Aileron-Bold;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
.invtryset span {
    display: block;
}

.invtryset span label {
    font-size: 14px!important;
    font-weight: 600;
}

.InManagg {
    background-color: #fff;
    margin: 40px 20px 40px 20px;
    box-shadow: 0px 0px 1px #ccc;
    /*padding: 30px;*/
}
.InManag-first {
    /*background-color: #fff;
    margin: 0px 20px 40px 20px;
    box-shadow: 0px 0px 1px #ccc;*/
    padding: 30px;
}
.customcheck .checkmark:after {
    left: 5px!important;
    top: 2px!important;
 }
 .run1 label.customcheck {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    font-family: "Aileron-Regular";
}
.invtryset span.enable-span {
    display: block;
    font-size: 14px!important;
    font-weight: 600;
    color: #666;
    margin-bottom: 10px;
}
.Checklist {
    border: 1px solid rgb(45, 180, 227);
    padding: 30px;
    /*box-shadow: 0px 0px 20px #ccc;*/
    background-color: rgb(45, 180, 227);
    border-radius: 5px;
}
.local h6 {
    font-size: 15px;
    font-family: Aileron-Bold;
    font-weight: 600;
    margin-bottom: 20px;
    color: #ffffff;
}
.Checklist h4 {
    font-size: 20px;
    font-family: Aileron-Bold;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 10px;
    color: #ffffff;
}
.Checklist p {
    color: #fff;
}
input[type="number"] {
    position: relative;
    margin: 0 0 1rem;
    border: 1px solid #BBB;
    border-color: #BBB #ECECEC #ECECEC #BBB;
    padding: .2rem;
}

/* Spin Buttons modified */
input[type="number"].mod::-webkit-outer-spin-button, 
input[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
input[type="number"].mod::-webkit-inner-spin-button:hover,
input[type="number"].mod::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}

/* Override browser form filling */
input:-webkit-autofill {
    background: black;
    color: red;
}
.invtryset span {
    padding-bottom: 10px;
}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    font-weight: 500;
    font-family: Aileron-regular;
}