	
.errer-page {
    background-color: #eef2f6;
}
.errer-page-505 {  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 78vh;  
}
.errer-page-505 h1 {
    color: #07a8de;
    font-size: 150px;
    font-weight: bold;
    margin-bottom: -15px;  
}  
.errer-page-505 p {
    font-weight: 300;
    font-size: 17px;
    color: #555555;
    margin-bottom: 5px;  
}
.errer-page-505 h5 {
    font-size: 32px;
    font-weight: 500;
    color: #555555;
}    
.help-link {
    color: #07a8de;
    font-size: 15px;
    font-weight: 400;
}  
.help-link:hover {  
    color: #07a8de;
    font-size: 15px;
    font-weight: 400;
}    

footer.add_list_footer p {
    font-size: 14px;
}  
footer.add_list_footer .Binary_design-p {
    text-align: right;
}  
footer.add_list_footer .Binary_design-p a {
    color: #0099cc;
    text-decoration: none;
}  

.phperrorback {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 78vh;
}
.phperror {
    background-color: rgba(255, 255, 255, 0.58);
    width: 750px;
    height: 400px;
    padding:30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
    border-radius: 2px 2px;
}
.phperror-left {
    max-width: 50%;
    float: left;
    overflow-y: scroll;
    height: 340px;
    text-align: left;
}
.phperror-right {
    max-width: 50%;
    float: left;
}
.phperror-right h1 {
    font-size: 35px;
    font-family: Aileron-Bold;
    font-weight: 600;
}

.phperror-right h4 {
    font-size: 20px;
    font-family: Aileron-Bold;
    font-weight: 300;
}
.phperror-right i {
    color: #f7c905;
}
.phperror-right p {
    font-size: 13px;
    color: #333;
    font-weight: bold;
}
.socialerrorlink li {
    display: inline-block;
    padding: 5px 8px;
}
.socialerrorlink li i {
    color: #ffffff;
    border: 1px solid #07a8de;
    height:30px;
    width:30px;
    line-height: 30px;
    display: block;
    text-align: center;
    border-radius: 15px;
    background-color: #07a8de;
    font-size: 15px;
}
.phperror-left ul li {
    padding: 3px 0px 3px 20px;
    color: #666;
    position: relative;
}
.phperror-left ul li:before {
    content: "";
    /* height: 10px; */
    /* width: 10px; */
    background-color: #ffffff;
    border: 5px solid #07a8de;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 9px;
}