
.custom_tabel .table td {
    font-family:"Aileron-Semibold"!important;
}
.btnright{
  float: right;   
}
.namehigh{
  color: #099aca !important;   
}
.sitelink {
    color: #ff6666 !important;
    cursor: pointer;
}
.btn.btn-primary.yes {
    background: #33cc66;
    border: 0;
    font-size: 13px;
    height: 25px;
    line-height: 10px;
    border-radius: 2px;
}
.btn.btn-primary.yes.no {
    background: #ff9933;
}
.done-space i {
    padding: 0px 10px;
}
.padding-right i {padding: 0px 5px;}